<template>
    <div class="theme-inner-banner">
        <div class="container">
            <h2 class="intro-title text-center">Project Details</h2>
            <ul class="page-breadcrumb style-none d-flex justify-content-center">
                <li><a href="index.html">Home</a></li>
                <li class="current-page">Single Project</li>
            </ul>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";

const Project = createNamespacedHelpers('Project');
export default {
    name: 'house-page-title-component',
    data(){
        return {
            loader:true,
        }
    },
    mounted() {
        this.loader = false
        this.QUERY_GET_PROJECT({
            id:this.$route.params.id
        });



    },
    computed: {
        ...Project.mapState([
            'project',
            'projectLoader'
        ])
    },
    methods: {
        ...Project.mapActions([
            'QUERY_GET_PROJECT'
        ]),
    }
}
</script>
