<template>
    <div class="row">
        <div class="col-lg-6 col-md-6" v-for="line in lines" :key="line">
            <div class="product-item mt-4 card p-2">
                <div class="product-img rounded position-relative">
                    <div class="image skeleton"></div>
                </div>
                <div class="pro-content my-3">
                    <div class="d-flex align-items-center">
                        <div class="price pe-2 fs-15 skeleton"></div>
                        <div class="rating ms-auto">
                            <div class="square skeleton"></div>
                        </div>
                    </div>
                    <p class="text-muted fw-normal lh-base description  my-3 skeleton"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {Skeleton} from "vue-loading-skeleton";

export default {
    name: "FlatGridSkeleton",
    components: {Skeleton},
    props: {
        lines: {
            type: Number,
            required: true
        }
    }
}
</script>

<style scoped>
.image {
    min-height: 280px;
    width: 100%;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.price {
    width: 50%;
    height: 25px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.square {
    width: 50px;
    height: 25px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.description {
    width: 100%;
    height: 60px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

@keyframes pulse {
    0% {
        background-color: #f6f7f8;
    }
    50% {
        background-color: #ededed;
    }
    100% {
        background-color: #f6f7f8;
    }
}

.skeleton {
    animation: pulse 1.2s infinite;
}

</style>
