<template>
    <div>
        <!-- categories -->
        <div>
            <div class="p-3 bg-light">
                <h6 class="mb-0">фильтры</h6>
            </div>
            <div class="p-3" v-for="line in lines" :key="line">
                <div class="filters skeleton" />
            </div>
        </div>
        <!-- end categories -->
        <!-- items -->
        <div class="mt-4">

        </div>
    </div>
</template>

<script>
export default {
    name: "FlatFilterSkeleton",
    props: {
        lines: {
            type: Number,
            required: true
        }
    }
}
</script>

<style scoped>
.filters {
    min-width: 100px;
    width: 100%;
    height: 40px;
    background-color: #EDEEEF;
    margin-bottom: 35px;
    border-radius: 5px;
}

@keyframes pulse {
    0% {
        background-color: #f6f7f8;
    }
    50% {
        background-color: #ededed;
    }
    100% {
        background-color: #f6f7f8;
    }
}

.skeleton {
    animation: pulse 1.2s infinite;
}

</style>
