<template>
    <div>
        <div class="col-md-12 card-list mt-4"  v-for="line in lines" :key="line">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-item">
                        <div class="product-list-img rounded-3 position-relative">
                            <div class="image skeleton"></div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-7">
                    <div class="pro-list-content my-3">
                        <div class="price d-inline-block">
                            <div class="price pe-2 fs-15 skeleton"></div>
                        </div>
                        <div class="rating d-inline-block ps-4">
                            <div class="square skeleton"></div>
                        </div>

                        <p class="text-muted fw-normal lh-base description  my-3 skeleton"></p>
                        <p class="text-muted fw-normal lh-base description  my-3 skeleton"></p>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</template>

<script>
import {Skeleton} from "vue-loading-skeleton";

export default {
    name: "FlatListSkeleton",
    components: {Skeleton},
    props: {
        lines: {
            type: Number,
            required: true
        }
    }
}
</script>

<style scoped>
.image {
    min-height: 200px;
    width: 100%;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.price {
    width: 50%;
    height: 25px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.square {
    width: 50px;
    height: 25px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

.description {
    width: 100%;
    height: 60px;
    background-color: #EDEEEF;
    border-radius: 5px;
}

@keyframes pulse {
    0% {
        background-color: #f6f7f8;
    }
    50% {
        background-color: #ededed;
    }
    100% {
        background-color: #f6f7f8;
    }
}

.skeleton {
    animation: pulse 1.2s infinite;
}

</style>
