<template>
    <div class="row">
        <div v-if="filters.length === 0">
            <flat-filter-skeleton :lines="7"/>
        </div>
        <div v-else>
            <div>
                <div class="p-3 bg-light">
                    <h6 class="mb-0">тэги</h6>
                </div>
                <div class="mb-2 p-3">
                    <div class="tagcloud py-4">
                        <a class="rounded d-inline-block fs-13 fw-medium mx-1 my-1 px-2 py-1 tag"
                           :class="{'tag-active': !!tag.active}"
                           :id="`tag-${tag.value}`"
                           v-for="tag in currentTags"
                           @click.prevent="selectTag(tag.value)"
                        >
                            {{ tag.title }}
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div class="p-3 bg-light">
                    <h6 class="mb-0">фильтры</h6>
                </div>
                <div class="p-3" v-for="radio in radios">
                    <input class="form-check-input fs-16" type="checkbox" :name="radio.name"
                           :id="radio.name + radio.max" v-model="radio.value"/>
                    <label class="form-check-label text-dark ms-2"
                           :for="radio.name + radio.max">{{ radio.title }}</label>
                </div>
                <div class="mb-2 p-3" v-for="checkbox in checkboxes">
                    <label class="form-check-label text-dark">{{ checkbox.title }}</label>
                    <multiselect
                        class="multi-select"
                        :multiple="true"
                        :taggable="true"
                        :hide-selected="true"
                        :allow-empty="true"
                        v-model="checkbox.value"
                        :options="checkbox.options"
                        :close-on-select="false"
                        :show-labels="false"
                        placeholder="Выбрать параметры"
                    >

                    </multiselect>
                </div>
                <div class="mb-2 p-3" v-for="range in ranges">
                    <slide-range :range="range"></slide-range>
                </div>
            </div>
            <div class="p-3">
                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary rounded"
                       value="Применить" @click.prevent="sendFilters({checkboxes, radios, ranges})"/>
            </div>
        </div>
    </div>
</template>

<script>
import SlideRange from "../form/components/SlideRange";
import Multiselect from 'vue-multiselect'
import FlatFilterSkeleton from "../skeleton/flat/FlatFilterSkeleton";

export default {
    name: 'FlatGrid',
    components: {
        SlideRange,
        Multiselect,
        FlatFilterSkeleton
    },
    data() {
        return {
            initFilter: []
        }
    },
    props: {
        filters: {
            type: Array,
            required: true
        },
        tags: {
            type: Array,
            required: true
        }
    },
    watch: {
        filters: {
            handler() {
                this.initFilter = JSON.stringify(this.filters)
            }
        }
    },
    computed: {
        checkboxes() {
            return this.filters.filter(filter => filter.type === 'checkbox').map(filter => {
                let value = null;

                if (!!this.$route.query[filter.name]) {
                    value = this.$route.query[filter.name].split(',');
                }

                filter.value = !!value ? value.map(Number) : filter.value

                return filter
            });
        },
        radios() {
            return this.filters.filter(filter => filter.type === 'radio').map(filter => {
                return {
                    ...filter,
                    value: this.$route.query[filter.name]
                }
            });
        },
        ranges() {
            return this.filters.filter(filter => filter.type === 'range').map(filter => {
                let value = null;

                if (!!this.$route.query[filter.name]) {
                    value = this.$route.query[filter.name].split(':');
                }

                filter.value_min = !!value ? value[0] : filter.min;
                filter.value_max = !!value ? value[1] : filter.max;

                return filter
            });
        },

        currentTags() {
            return this.tags.map(tag => {
                let selectTags = this.$route.query.tags;

                if (selectTags) {
                    selectTags = selectTags.split(',');
                    if (selectTags.includes(String(tag.value))) {
                        tag.active = true;
                    }
                }
                return tag;
            })
        }
    },
    methods: {
        selectTag(tagId) {
            let tagElement = document.querySelector(`#tag-${tagId}`);

            if (tagElement.classList.contains('tag-active')) {
                tagElement.classList.remove('tag-active');
            } else {
                tagElement.classList.add('tag-active');
            }

            this.$emit('change-tag', String(tagId));
        },
        sendFilters(filters) {

            let parseFilters = [
                ...this.parseRanges(filters.ranges),
                ...this.parseRadios(filters.radios),
                ...this.parseCheckboxes(filters.checkboxes),
            ]

            this.$emit('send-filters', parseFilters);
        },
        parseRanges(ranges) {
            return ranges.map(range => {
                let firstRange = JSON.parse(this.initFilter).filter(filter => filter.type === 'range').find((itemRange) => itemRange.name === range.name);

                let value = (firstRange.max !== range.value_max || firstRange.min !== range.value_min)
                    ? `${range.value_min}:${range.value_max}`
                    : firstRange.value;

                return {
                    'name': range.name,
                    'value': value
                }
            }).filter(range => !!range)
        },

        parseRadios(radios) {
            return radios.map(radio => {
                return {
                    'name': radio.name,
                    'value': radio.value
                }
            })
        },
        parseCheckboxes(checkboxes) {
            const groupedData = checkboxes.reduce((acc, curr) => {
                if (!acc[curr.name]) {
                    acc[curr.name] = {values: [curr.value]};
                } else {
                    acc[curr.name].values.push(curr.value);
                }

                acc[curr.name].values = acc[curr.name].values.join(',');

                return acc;
            }, {});

            const result = [];

            Object.keys(groupedData).forEach(key => {
                const values = groupedData[key].values.split(',').map(Number);
                let data = null
                if (values[0] !== 0) {
                    data = values
                }

                result.push({
                    'name': key,
                    'value': data
                });
            });

            return result;
        }
    }
}

</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style>
.tag:hover {
    cursor: pointer;
}

.tag-active {
    background-color: #141c63 !important;
    color: #ffffff !important;
}

.multi-select {
    margin-top: 15px;
}

.multiselect__tag {
    background: #141c63 !important;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #FAFAFA !important;
    color: #000000;
    font-weight: bold;
}

.multiselect__option--highlight {
    background: #141c63 !important;
    color: #ffffff;
}

.multiselect__tag-icon {
    color: #ffffff;
}
</style>
