<template>
    <transition name="modal" v-if="show">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-close" @click="closeModal">&#10006;</div>
                    <div class="modal-header-container">
                        <slot name="header">
                            <h2>Заявка на консультацию</h2>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-12 text-center" v-if="success">
                                <div class="alert-success">заявка успешно отправлена, в ближайшее время с вами
                                    свяжутся
                                </div>
                            </div>
                        </div>

                        <multiselect
                            class="multi-select"
                            :multiple="true"
                            :taggable="true"
                            :hide-selected="true"
                            :allow-empty="true"
                            v-model="selected_rooms"
                            :options="rooms"
                            :close-on-select="false"
                            :show-labels="false"
                            placeholder="Количство комнат"
                        >

                        </multiselect>
                        <div class="row form">
                            <div class="col-12 col-sm-12 col-lg-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Ваше имя" v-model="full_name">
                                    <label class="text-muted">Ваше имя</label>
                                </div>
                            </div>
                        </div>
                        <div class="row form">
                            <div class="col-12 col-sm-12 col-lg-12">
                                <div class="form-floating mb-3">
                                    <the-mask type="text" class="form-control" placeholder="Номер телефона"
                                              v-model="phone"
                                              :mask="'+7 (###) ###-##-##'"></the-mask>
                                    <label class="text-muted">Номер телефона</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12 text-center mb-3"
                             v-if="(!!errors && errors.length > 0)">
                            <div class="alert-danger p-2">{{ errors }}</div>
                        </div>

                        <div class="row form">
                            <div class="col-12 col-sm-12 col-lg-12 right">
                                <input type="submit" id="submit" name="send" class="btn btn-primary"
                                       value="Оставить заявку" @click="sendForm" :disabled="success">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

import Multiselect from 'vue-multiselect';
import axios from "axios";

export default {
    name: "Modal",
    components: {
        Multiselect,
    },
    data: function () {
        return {
            show: false,
            modalData: {
                rooms: []
            },
            phone: '',
            full_name: '',
            selected_rooms: [],
            rooms: [
                '1',
                '2',
            ],
            errorData: null,
            success: false
        }
    },

    computed: {
        errors() {
            return this.errorData ?? null
        }
    },
    methods: {
        closeModal: function () {
            this.show = false
        },
        checkForm: function () {
            this.errorData = null;

            if (this.phone.length === 0 || this.phone.length < 10) {
                this.errorData = 'Заполните пожалуйста номер телефона';
                return false;
            }

            if (this.full_name.length === 0 || this.phone.length < 2) {
                this.errorData = 'Заполните пожалуйста имя';
                return false;
            }

            return true;
        },
        isSuccess() {
            this.success = true;

            setTimeout(() => {
                this.success = false
                this.full_name = '';
                this.phone = '';
                this.selected_rooms = [];
                this.closeModal()
            }, 3000)
        },
        sendForm() {
            if (!this.checkForm()) {
                return
            }

            let description = 'Пользователь отправил запрос со страницы ' + window.location + ' из модального окна.'

            if (this.selected_rooms.length > 0) {
                description += ' Так же его заинтересовали квартиры с ' + this.selected_rooms.join(', ') + ' комнатами.'
            }

            axios.post('/api/feedback', {
                phone: '8' + this.phone,
                full_name: this.full_name,
                description: description,
            }).then(response => {
                this.isSuccess()
            }).catch(e => {
                if(e.response.status === 403){
                    this.errorData = 'Если у вас подключен VPN, пожалуйста, отключите его и отправьте форму заново'
                }
            })
        }
    }
}
</script>

<style scoped>
h2 {
    font-size: 19px;
    font-weight: 500;
}

.modal-header-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body {
    border-top: 1px solid #dee2e6;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}


@media (max-width: 653px) {
    .modal-container {
        width: 90%;
        padding: 10px 15px;
    }

    h2 {
        font-size: 20px;
    }
}

.modal-header h3 {
    margin-top: 0;
    color: #141c63;
}

.form-control {
    font-size: 18px;
    margin-bottom: 25px;
}

.modal-close {
    border-radius: 50%;
    color: #000;
    display: flex;
    top: 12px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.btn-primary {
    background-color: #ffffff !important;
    color: #141c63;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #e3e3e3 !important;
    color: #141c63;
}

.btn-primary {
    width: 50%;
    margin-bottom: 0;
}

.multi-select {
    margin-top: 0 !important;
    margin-bottom: 30px;
    border-radius: 10px;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cm-error {
    margin-top: -20px;
    margin-bottom:10px;
    font-size: 16px;
    font-weight: bold;
    color: #a52834;
}

.alert-success{
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}
</style>
