<template>
    <div class="range-slider">
        <label>{{ range.title }}</label>
        <div class="price-input">
            <div class="field">
                <span>от</span>
                <input type="number" class="input-min"
                       v-model.number="range.value_min" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
            <div class="separator"></div>
            <div class="field">
                <span>до</span>
                <input type="number" class="input-max"
                       v-model.number="range.value_max" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
        </div>
        <div class="slider">
            <div class="progress" :id="`${range.name}-progress`"></div>
        </div>
        <div class="range-input">
            <input type="range" class="range-min" :id="`${range.name}-min`" v-model.number="range.value_min"
                   :min="orderMin"
                   :max="orderMax" :step="getStep(range.max)">
            <input type="range" class="range-max" :id="`${range.name}-max`" v-model.number="range.value_max"
                   :min="orderMin"
                   :max="orderMax" :step="getStep(range.max)">
        </div>
    </div>
</template>

<script>

export default {
    name: 'SlideRange',
    data() {
        return {
            gap: 0.1,
            min: 0,
            max: 0,
            orderMin: 0,
            orderMax: 0,
        }
    },
    props: {
        range: {
            type: Object,
            required: true
        },
    },
    created() {
        setTimeout(() => {
            document.querySelector(`#${this.range.name}-max`).setAttribute("max", this.range.max)
            document.querySelector(`#${this.range.name}-max`).setAttribute("min", this.range.min)
            document.querySelector(`#${this.range.name}-min`).setAttribute("max", this.range.max)
            document.querySelector(`#${this.range.name}-min`).setAttribute("min", this.range.min)

            let minPrice = this.range.value_min,
                maxPrice = this.range.value_max,
                isMin = this.range.value_min !== this.range.min,
                isMax = this.range.value_max !== this.range.max,
                rangeInputMin = document.querySelector(`#${this.range.name}-min`),
                rangeInputMax = document.querySelector(`#${this.range.name}-max`),
                rangeProgress = document.querySelector(`#${this.range.name}-progress`);

            this.orderMin = this.range.min
            this.orderMax = this.range.max

            this.setProgress(minPrice, maxPrice, isMin, isMax, rangeInputMin, rangeInputMax, rangeProgress)
        }, 100);
    },
    watch: {
        range: {
            handler(val) {
                let minPrice = val.value_min,
                    maxPrice = val.value_max,
                    isMin = val.value_min !== this.orderMin,
                    isMax = val.value_max !== this.orderMax,
                    rangeInputMin = document.querySelector(`#${val.name}-min`),
                    rangeInputMax = document.querySelector(`#${val.name}-max`),
                    rangeProgress = document.querySelector(`#${val.name}-progress`);

                this.setProgress(minPrice, maxPrice, isMin, isMax, rangeInputMin, rangeInputMax, rangeProgress)

                this.min = val.value_min
                this.max = val.value_max
            },
            deep: true,
            immediate: true
        }
    },
    methods: {
        setProgress(minPrice, maxPrice, isMin, isMax, rangeInputMin, rangeInputMax, rangeProgress) {
            if (rangeInputMin || rangeInputMax || rangeProgress) {
                if ((maxPrice - minPrice >= this.gap) && maxPrice <= rangeInputMax.max) {
                    let rangeAll = (rangeInputMin.max - rangeInputMin.min) / 100

                    if (isMin) {
                        rangeProgress.style.left = ((rangeAll - (rangeInputMin.max - minPrice) / 100) / rangeAll) * 100 + "%";
                    }

                    if (isMax) {
                        rangeProgress.style.right = 100 - ((rangeAll - (rangeInputMin.max - maxPrice) / 100) / rangeAll) * 100 + "%";
                    }
                }
            }
        },
        getStep(value) {
            return 0.01
        },
        calculateMin() {
            if (this.range.min > this.range.max) {
                this.range.min = this.range.max - this.gap
            }

            if (this.range.min < this.orderMin) {
                this.range.min = this.orderMin
            }
        },
        calculateMax(value, min, max) {
            this.range.max = Math.max(Number(min), Math.min(Number(max), Number(value)));
        }
    }
};
</script>
<style scoped>
.range-slider {
    margin-bottom: 30px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 15px 0 20px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
}

.price-input .separator {
    width: 25px;
    display: flex;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ededed;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 1%;
    right: 1%;
    position: absolute;
    border-radius: 5px;
    background: #141c63;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #141c63;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #141c63;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
</style>
