<template>
    <div class="feedback-block-four">
        <div class="container feedback-block-four__form">
            <div class="row form">
                <div class="col-lg-3 col-sm-12 text-center">
                    <img src="/images/logo/full-logo-white.png" class="logo-image"/>
                </div>
                <div class="col-lg-9 col-sm-12 phone-feedback">
                    <div class="row">
                        <div class="feedback-block-four__title">
                            Будем рады ответить на любые вопросы!
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Ваше имя" v-model="full_name">
                                <label class="text-muted">Ваше имя</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="form-floating mb-3">
                                <the-mask type="text" class="form-control" placeholder="Номер телефона" v-model="phone"
                                          :mask="'+7 (###) ###-##-##'"></the-mask>
                                <label class="text-muted">Номер телефона</label>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-lg-4">
                            <input type="submit" @click="sendForm()" class="btn btn-primary"
                                   value="Позвоните мне" :disabled="success">
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12 text-center" v-if="success">
                            <div class="alert-success">Заявка успешно отправлена, в ближайшее время с вами свяжутся
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-lg-12 text-center"
                             v-if="(!!errors && errors.length > 0)">
                            <div class="alert-danger">{{ errors }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "FeedbackComponent",
    data() {
        return {
            loader: true,
            phone: '',
            full_name: '',
            success: false,
            errorData: null
        }
    },
    mounted() {
        this.loader = false
    },

    computed: {
        errors() {
           return this.errorData ?? null
        }
    },
    methods: {
        checkForm: function () {
            this.errorData = null;

            if (this.phone.length === 0 || this.phone.length < 10) {
                this.errorData = 'Заполните пожалуйста номер телефона';
                return false;
            }

            if (this.full_name.length === 0 || this.phone.length < 2) {
                this.errorData = 'Заполните пожалуйста имя';
                return false;
            }

            return true;
        },
        isSuccess() {
            this.success = true;

            setTimeout(() => {
                this.success = false
                this.errorData = '';
            }, 3000)
        },
        sendForm() {
            if (!this.checkForm()) {
                return
            }
            axios.post('/api/feedback', {
                phone: '8' + this.phone,
                full_name: this.full_name,
                description: 'Пользователь отправил запрос со страницы ' + window.location + ' формы обратной связи',
            }).then(response => {
                this.isSuccess()
            }).catch(e => {
                if(e.response.status === 403){
                    this.errorData = 'Если у вас подключен VPN, пожалуйста, отключите его и отправьте форму заново'
                }
            })
        }
    }
}
</script>

<style scoped>
.feedback-block-four {
    background: #141c63;
    padding: 40px;
    margin-top: 20px;
}

.alert-success {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.alert-danger {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.feedback-block-four__form {
    position: relative;
    z-index: 1;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
}

.logo-image {
    width: 80%;
    max-width: 320px;
}

.form {
    width: 100%;
}

.feedback-block-four__title {
    max-width: 700px;
    margin-bottom: 25px;
    font-family: Mikro, Arial, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 991px) {
    .feedback-block-four__title {
        font-size: 18px
    }

    .phone-feedback{
        margin-top: 25px
    }
}

.form-control {
    font-size: 18px;
}

.btn-primary {
    background-color: #ffffff !important;
    padding: 18px 0;
    color: #141c63;
}

.btn-primary:hover {
    background-color: #e3e3e3 !important;
    color: #141c63;
}

.btn-primary {
    width: 100%;
    margin-bottom: 0;
}

.cm-error {
    font-size: 16px;
    font-weight: bold;
    color: #a52834;
}

.alert-success {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

</style>
