<template>
    <div>
        <div v-if="showAlert" class="alert">Квартира добавлена в избранное!</div>
    </div>
</template>

<script>
export default {
    props: {
        showAlert: false
    },
};
</script>

<style>
.alert {
    position: fixed;
    left: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    bottom: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

@media (max-width: 767px) {
    .alert {
        width: 100%;
        left: 0;
        position: fixed;
        height: 50px;
        bottom: 0 !important;
    }
}

</style>
