<template>
    <div v-if="isLoading" class="preloader">
        <div class="text-animation">
            <h1 class="animated-text">ИНТЕР</h1>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isLoading: true
        };
    },
    mounted() {
        window.scrollTo(0, 0);
        setTimeout(() => {
            this.isLoading = false;
        }, 600);
    }
};
</script>

<style>
.preloader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7F8FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .text-animation {
      text-align: center;
  }

.animated-text {
    font-size: 46px;
    font-weight:bold;
    animation: textAnimation 600ms infinite;
}

@keyframes textAnimation {
    0% {
        color: #EA654E;
        transform: scale(1);
    }
    50% {
        color: #141c63;
        transform: scale(1.2);
    }
    100% {
        color: #F7F8FB;
        transform: scale(1);
    }
}
</style>
