<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">

                <h2 class="text-dark fw-light lh-base mt-5"><span class="fw-medium title">По вашему запросу ничего не найдено</span></h2>

                <p class="text-muted fs-16">Измените условия поиска или обратитесь к менеджеру для подборки квартир</p>
                <a href="tel:+79222202414" class="text-dark fs-16 info"> +7 (922) 220-24-14</a>
            </div>
        </div>
    </div>
</template>

<script>

import FlatGridSkeleton from "../skeleton/flat/FlatGridSkeleton";
import {createNamespacedHelpers} from "vuex";

const Flat = createNamespacedHelpers('Flat');
export default {
    name: 'FlatsNotFound',
    components: {
        FlatGridSkeleton
    },
    computed: {},
    methods: {}
};
</script>

