<template>
    <div class="row">
        <alert :show-alert="showAlert"/>
        <div class="col-lg-12 col-md-12 mt-4">
        <carousel
            :scrollPerPage="true"
            :perPageCustom="[[100, 1], [1024, 2]]"
            :paginationEnabled="false"
        >
            <slide v-for="flat in flats" v-bind:key="flat.id">
                    <div class="product-item card p-2">
                        <div class="product-img rounded text-center position-relative">
                            <img class="img-fluid img-flat-grid  rounded-3" :src="flat.image_flat" alt=""/>

                            <div
                                class="hover-content right position-absolute bottom-0">
                                <a @click="toFlat(flat.id, flat.floor.id, flat.project_id)"><i
                                    class="mdi mdi-eye-outline fs-22 me-3 p-3 fw-bolder pro-icon"></i></a>
                                <a @click="addToWishlist(flat.id)"><i
                                    class="mdi mdi-heart-outline fs-22 me-3 p-3 fw-bolder pro-icon"></i></a>
                            </div>
                        </div>
                        <div class="pro-content my-3">
                            <div class="d-flex align-items-center">
                                <ins v-if="!!flat.price" class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">{{flat.price}}</ins>
                                <div class="rating ms-auto">
                                    <i class="mdi mdi-fullscreen fs-18 text-warning d-inline-block"></i>
                                    <h5 class="d-inline-block fs-15">{{ flat.square_meters }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
            </slide>
        </carousel>
        </div>
    </div>
</template>

<script>

import {Slide, Carousel} from 'vue-carousel';
import Alert from "../system/Alert";
import {createNamespacedHelpers} from "vuex";
const Wishlist = createNamespacedHelpers('Wishlist');

export default {
    name: 'FlatCarousel',
    components: {
        Carousel,
        Slide,
        Alert
    },
    props: {
        flats: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            showAlert: false
        }
    },
    methods: {
        ...Wishlist.mapActions([
            'QUERY_SET_WISHLIST',
            'QUERY_SET_WISHLIST_ITEM',
            'QUERY_REMOVE_WISHLIST_ITEM'
        ]),
        addToWishlist(id) {
            this.QUERY_SET_WISHLIST_ITEM({
                flatId: id
            })
            this.showAlert = true;

            setTimeout(() => {
                this.showAlert = false;
            }, 2000);

        },
        truncate(text, stop, clamp) {
            return (!text)
                ? ''
                : text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        },
        toFlat(id, floorId, projectId) {
            this.$router.push({name: 'flat-page', params: {id: projectId, floorId: floorId, flatId: id}})
        }
    }
};
</script>

<style scoped>
img {
    max-width: 300px;
    max-height: 300px;
}
.pro-icon:hover {
    cursor: pointer;
}
</style>

