<template>
    <div class="row">
        <alert :show-alert="showAlert"/>
        <div v-if="flatLoader">
            <FlatGridSkeleton :lines="5"/>
        </div>
        <div v-else-if="flats.length === 0">
            <flats-not-found/>
        </div>
        <div v-else class="col-lg-6 col-md-6" v-for="flat in flats">
            <div class="product-item mt-4 card p-2"
                 :class="{'disabled': flat.status === 2}">
                <div class="product-img rounded text-center position-relative">
                    <img class="img-fluid img-flat-grid  rounded-3" :src="flat.image_flat" alt=""/>
                    <div
                        class="hover-content right position-absolute bottom-0">
                        <a @click="toFlat(flat.id, flat.floor.id, flat.project_id)"><i
                            class="mdi mdi-eye-outline fs-22 me-3 p-3 fw-bolder pro-icon"></i></a>
                        <a v-if="flat.status !==2" @click="addToWishlist(flat.id)"><i
                            class="mdi mdi-heart-outline fs-22 fw-bolder me-3 pro-icon"></i></a>
                    </div>
                </div>
                <div class="pro-content my-3">
                    <div class="d-flex align-items-center">
                        <ins v-if="!!flat.price" class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">{{flat.price}}</ins>
                        <div class="rating ms-auto">
                            <i class="mdi mdi-fullscreen fs-18 text-warning d-inline-block"></i>
                            <h5 class="d-inline-block fs-15">{{ flat.square_meters }}</h5>
                        </div>
                    </div>
                    <a href="product-detail.html">
                        <p class="text-muted fw-normal lh-base my-1">{{ truncate(flat.description, 100, '...') }}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FlatGridSkeleton from "../skeleton/flat/FlatGridSkeleton";
import FlatsNotFound from "../flat/FlatsNotFound";
import {createNamespacedHelpers} from "vuex";
import Alert from "../system/Alert";

const Flat = createNamespacedHelpers('Flat');
const Wishlist = createNamespacedHelpers('Wishlist');
export default {
    name: 'FlatGrid',
    components: {
        FlatGridSkeleton,
        FlatsNotFound,
        Alert
    },
    data() {
        return {
            showAlert: false
        }
    },
    props: {
        flats: {
            type: Array,
            required: true
        },
    },
    computed: {
        ...Flat.mapState([
            'flatLoader'
        ]),
    },
    methods: {
        ...Wishlist.mapActions([
            'QUERY_SET_WISHLIST',
            'QUERY_SET_WISHLIST_ITEM'
        ]),
        addToWishlist(id) {
            this.QUERY_SET_WISHLIST_ITEM({
                flatId: id
            })
            this.showAlert = true;

            setTimeout(() => {
                this.showAlert = false;
            }, 2000);
        },
        truncate(text, stop, clamp) {
            return (!text)
                ? ''
                : text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        },
        toFlat(id, floorId, projectId) {
            this.$router.push({name: 'flat-page', params: {id: projectId, floorId: floorId, flatId: id}})
        }
    }
};
</script>
<style scoped>
.pro-icon:hover {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}
</style>

