<template>
    <div class="row">
        <alert :show-alert="showAlert"/>
        <div v-if="flatLoader">
            <FlatListSkeleton :lines="5"/>
        </div>
        <div v-else-if="flats.length === 0">
            <flats-not-found/>
        </div>
        <div class="col-md-12" v-else>
            <div class="col-md-12 card-list mt-4"
                 :class="{'disabled': flat.status === 2}"
                 v-for="flat in flats">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="product-item">
                            <div class="product-list-img rounded-3 position-relative">
                                <img class="img-fluid img-flat-list rounded-3" :src="flat.image_flat" alt="">
                                <span
                                    class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-18%</span>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-8">
                        <div class="pro-list-content my-3">
                            <div class="price d-inline-block" v-if="!!flat.price">
                                <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">{{flat.price}}</ins>
                            </div>
                            <div class="rating d-inline-block ps-4">
                                <i class="mdi mdi-fullscreen fs-20 text-warning d-inline-block"></i>
                                <h5 class="d-inline-block fs-16">{{ flat.square_meters }}</h5>
                            </div>
                            <div class="rating d-inline-block ps-4" v-if="isWishlist">
                                <a @click="deleteFromWishlist(flat.id)"><i
                                    class="mdi mdi-delete fs-22 fw-bolder pro-icon"></i></a>
                            </div>
                            <h6 class="mb-0">Квартира {{ getNumberOfRooms(flat.number_of_rooms) }} №
                                {{ flat.number }}</h6>
                            <p class="text-muted my-3">
                                {{ truncate(flat.description, 250, '...') }}
                            </p>
                            <div class="hover-content w-100 py-2">
                                <a @click="toFlat(flat.id, flat.floor_id, flat.house_id)"><i
                                    class="mdi mdi-eye-outline fs-22 me-3 p-3 fw-bolder pro-icon"></i></a>
                                <a v-if="!isWishlist && flat.status !== 2" @click="addToWishlist(flat.id)"><i
                                    class="mdi mdi-heart-outline fs-22 fw-bolder pro-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</template>

<script>


import FlatListSkeleton from "../skeleton/flat/FlatListSkeleton";
import FlatsNotFound from "../flat/FlatsNotFound";
import {createNamespacedHelpers} from "vuex";
import Alert from "../system/Alert";

const Flat = createNamespacedHelpers('Flat');
const Wishlist = createNamespacedHelpers('Wishlist');
export default {
    name: 'FlatList',
    components: {
        FlatListSkeleton,
        FlatsNotFound,
        Alert
    },
    data() {
        return {
            showAlert: false
        }
    },
    props: {
        flats: {
            type: Array,
            required: true
        },
        isWishlist: {
            type: Boolean,
            required: false
        }
    },
    computed: {
        ...Flat.mapState([
            'flatLoader'
        ]),
    },
    methods: {
        ...Wishlist.mapActions([
            'QUERY_SET_WISHLIST',
            'QUERY_SET_WISHLIST_ITEM',
            'QUERY_REMOVE_WISHLIST_ITEM'
        ]),
        addToWishlist(id) {
            this.QUERY_SET_WISHLIST_ITEM({
                flatId: id
            })
            this.showAlert = true;

            setTimeout(() => {
                this.showAlert = false;
            }, 2000);

        },
        deleteFromWishlist(id) {
            this.QUERY_REMOVE_WISHLIST_ITEM({
                flatId: id
            })
        },
        truncate(text, stop, clamp) {
            return (!text)
                ? ''
                : text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        },
        getNumberOfRooms(numberOfRooms) {
            if (numberOfRooms === 0) {
                return 'студия'
            } else if (numberOfRooms === 1) {
                return 'однокомнатная'
            } else if (numberOfRooms === 2) {
                return 'двухкомнатная'
            } else if (numberOfRooms === 3) {
                return 'трёхкомнатная'
            } else if (numberOfRooms === 4) {
                return 'четырёхкомнатная'
            } else if (numberOfRooms === 5) {
                return 'пятикомнатная'
            }

            return 'Шестикомнатная'
        },

        toFlat(id, floorId, projectId) {
            this.$router.push({name: 'flat-page', params: {id: projectId, floorId: floorId, flatId: id}})
        }
    }
};
</script>
<style scoped>

.disabled {
    opacity: 0.5;
}
.pro-icon:hover {
    cursor: pointer;
}

.img-flat-list {
    height: 280px;
}
</style>
