<template>
    <div class="row">
        <div class="col-lg-12 mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" :class="{ disabled: pagination.currentPage === 1 }">
                        <a class="page-link" @click.prevent="changePage(pagination.currentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" v-for="page in pages"  :key="page">
                        <a class="page-link" :class="{ active: pagination.currentPage === page }" @click.prevent="changePage(page)">
                            {{ page }}
                        </a>
                    </li>
                    <li class="page-item" :class="{ disabled: pagination.currentPage === pagination.lastPage  }">
                        <a class="page-link" @click.prevent="changePage(pagination.currentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>


export default {
    name: 'Pagination',
    props: {
        pagination: {
            type: Object,
            required: true
        }
    },
    computed: {
        pages() { // при расчете отображаемых страниц есть много подходов, это просто один из них
            var start = Math.max(this.pagination.currentPage - 2, 1);
            var end = Math.min(start + 4, this.pagination.lastPage);
            start = Math.max(end - 4, 1);
            return Array.from({ length: end - start + 1 }, (_, i) => i + start);
        }
    },
    methods: {
        changePage(page) {
            if (page >= 1 && page <= this.pagination.lastPage) {
                this.$emit('change-page', page); // генерируем событие, данные о странице передаем в родительский компонент
            }
        }
    }
};
</script>
<style scoped>
    .page-item:hover{
        cursor: pointer;
    }
    .disabled:hover{
        cursor: default;
    }
</style>
