<template>
    <vue-carousel :data="data" :controls="false"></vue-carousel>
</template>

<script>

import VueCarousel from '@chenfengyuan/vue-carousel';
import {createNamespacedHelpers} from "vuex";
import Slide from "./Banner/Slide";

const Slider = createNamespacedHelpers('Slider');

export default {
    components: {VueCarousel, Slide},
    data() {
        return {
            data: [
                '<div class="example-slide">Slide 1</div>',
                '<div class="example-slide">Slide 2</div>',
                '<div class="example-slide">Slide 3</div>',
            ],
        };
    },
    async created() {
        this.loader = false

        await this.QUERY_GET_SLIDES()
    },
    computed: {
        ...Slider.mapState([
            'slides',
        ]),
    },
    methods: {
        ...Slider.mapActions([
            'QUERY_GET_SLIDES'
        ]),
    }
};
</script>

<style>
.vue-carousel {
    margin-top: 70px;
    min-height: 400px;
}

.example-slide {
    align-items: center;
    background-color: #666;
    color: #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    min-height: 35rem;
}
</style>
