<template>
    <div class="fancy-short-banner-one position-relative">
        <div class="container">
            <div class="bg-wrapper">
                <div class="row align-items-center gx-xxl-5">
                    <div class="col-lg-8 text-center text-lg-start aos-init aos-animate" data-aos="fade-right">
                        <h4 class="pe-xl-5 md-pb-20">Остались вопросы ?</h4>
                        <h3 class="pe-xl-5 md-pb-20">Свяжитесь с нами</h3>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end aos-init aos-animate" data-aos="fade-left">
                        <a href="contact-us.html" class="msg-btn tran3s">Написать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "feedback-module",
    data() {
        return {
            routes: this.$router.options.routes
        }
    }
}
</script>

<style scoped>

</style>
