<template>
    <div class="feedback-block-four" >
        <div class="container feedback-block-four__form">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 footer-block">
                    <h3 class="footer-nav-section">Недвижимость</h3>
                    <ul class="footer-nav">
                        <li class="footer-nav-link">
                            <router-link to="/zhilaya_nedvizhimost">Проекты</router-link>
                        </li>
                        <li class="footer-nav-link">
                            <router-link to="flats">Квартиры</router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 footer-block">
                    <h3 class="footer-nav-section">Компания</h3>
                    <ul class="footer-nav">
                        <li class="footer-nav-link">
                            <router-link to="about">О нас</router-link>
                        </li>
                        <li class="footer-nav-link">
                            <router-link to="contacts">Контакты</router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 footer-block">
                    <h3 class="footer-nav-section">Покупателям</h3>
                    <ul class="footer-nav">
<!--                        <li class="footer-nav-link">
                            <router-link to="about">Ипотечный калькулятор</router-link>
                        </li>
                        <li class="footer-nav-link">
                            <router-link to="contacts">Акции</router-link>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "footer-module",
    data() {
        return {
            loader: true,
            phone: '',
            full_name: '',
            errors: [],
            success: false
        }
    },
    mounted() {
        this.loader = false
    },

    computed: {
        setError(error) {
            return this.errors = error
        }
    },
    methods: {
        checkForm: function () {

            this.errors = [];

            if (this.phone.length === 0 || this.phone.length < 10) {
                this.errors['phone'] = 'Заполните пожалуйста номер телефона';
                return false;
            }

            if (this.full_name.length === 0 || this.phone.length < 2) {
                this.errors['full_name'] = 'Заполните пожалуйста имя';
                return false;
            }

            return true;
        },
        isSuccess() {
            this.success = true
            setTimeout(() => {
                this.success = false
            }, 3000)
        },
        sendForm() {
            if (!this.checkForm()) {
                return
            }
            axios.post('/api/feedback', {
                phone: '8' + this.phone,
                full_name: this.full_name,
                description: 'Пользователь отправил запрос со страницы ' + window.location + ' формы обратной связи',
            }).then(response => {
                this.isSuccess()
            })
        }
    }
}
</script>

<style scoped>
.feedback-block-four {
    background: #F7F8FB;
    padding: 40px;
    margin-top: 20px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav-section {
    color: #000000;
}

.footer-nav-link a {
    text-decoration: none;
    color: #141c63;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
    font-size: 15px;
}

@media (max-width: 576px) {
    .feedback-block-four {
        padding: 0;
    }
}

</style>
