<template>
    <section>
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="txt-loading mt-2">
                        <span v-for="Charter in loaderCharters" :data-text-preloader="Charter" class="letters-loading">{{Charter}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "loader-module",
    data() {
        return {
            loaderCharters: [
                'И','Н','Т','Е','Р',
            ]
        }
    }
}
</script>

<style scoped>

</style>
