<template>
    <nav class="navbar navbar-expand-lg fixed-top sticky mx-auto" id="navbar">
        <div class="container">
            <router-link to="/" class="navbar-brand me-4">
                <img src="/images/logo/logo-description-inverstion.png" class="logo-image"/>
            </router-link>
            <img src="/images/icon/phone-call-svgrepo-com.svg"/> <a href="tel:+79222202414" class="fs-16 info">+7 (922) 220 24 14</a>
            <div class="navbar-icons">
                <router-link :to="{name: 'wishlist'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                         fill="#FF623E"
                         stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-heart icon-xs me-2">
                        <path
                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                    </svg>
                    {{ wishlist.length }}
                </router-link>
            </div>
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" id="menu" data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item" v-for="route in getRoutes">
                        <router-link
                            v-if="route.meta.isSingle"
                            :to="route.path"
                            :class="{'active': !!route.active}"
                            class="nav-link sub-menu-item"
                            role="button">
                            {{ route.meta.title }}
                        </router-link>
                    </li>
                </ul><!-- end ul -->
            </div>
        </div>
        <!-- end container -->
    </nav>
</template>

<script>
import store from "../store";
import {createNamespacedHelpers} from "vuex";

const Wishlist = createNamespacedHelpers('Wishlist');
export default {
    name: "menu-module",
    data() {
        return {
            routes: this.$router.options.routes,
        }
    },
    computed: {
        getRoutes() {
            return this.$router.options.routes.map((route) => {
                return {
                    ...route,
                    active: route.name === this.$route.name
                }
            })
        },
        ...Wishlist.mapState({
            wishlist: state => state.wishlist
        })
    },
    methods: {
        ...Wishlist.mapActions([
            'QUERY_SET_WISHLIST'
        ]),
    }
}
</script>

<style scoped>
.logo-image {
    height: 42px;
}
.container{
    flex-flow: row wrap;
}

.navbar-icons {
    margin-left: 20px;
}
.info{
    margin-left:10px;
    color: #141c63
}

@media (max-width: 991px) {
    .navbar-icons {

    }
    .navbar-header{
        margin-left: auto;
    }
    .logo-image {
        height: 32px;
    }
    .fs-16{
        font-size: 12px !important;
    }
}
</style>
