<template>
    <div class="portfolio-gallery-four">
        <div class="container">
            <div class="row">
                <div class="border-0 work-container work-grid  col-md-6" v-for="project in projects">
                    <div class="card-body p-0" v-scroll-reveal.reset>
                        <router-link :to="{name: 'house-page', params: {'id': project.id}}">
                            <img :src="project.information.project_image" class="img-fluid mh-100 rounded-3"/>
                        </router-link>
                        <div class="content bg-light shadow">
                            <h3>{{ project.title }}</h3>
                            <h6>{{ project.address }}</h6>
                            <p class="fs-18 text-muted font-weight-normal tag mb-0"> <span class="flats-count">{{project.free_flat_count}} квартир </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "project-grid-module",
    data() {
        return {
            routes: this.$router.options.routes
        }
    },
    props: {
        projects: {
            type: Array,
            required: true
        }
    },
}
</script>

<style scoped>
.portfolio-gallery-four{
    margin-bottom: 25px;
}
.content {
    margin-bottom: 0 !important;
}
.flats-count{
    font-weight: bold;
    color: #3A61ED;
}

</style>
