<template>
    <div class="map-block-four">
        <div class="wrapper">
            <div style="height: 450px;">
                <yandex-map
                    :coords="projectsCoords"
                    :zoom=12
                    :controls="[]"
                >
                    <ymap-marker
                        v-for="project in projects"
                        :key="project.id"
                        @click="toProject(project.id)"
                        :coords="[project.lat, project.lng]"
                        :marker-id="project.id"
                        :icon="customIcon(project.title)"
                    />
                </yandex-map>
            </div>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import {yandexMap, ymapMarker} from 'vue-yandex-maps'

const Project = createNamespacedHelpers('Project');
export default {
    name: "project-grid-module",
    data() {
        return {
            routes: this.$router.options.routes,
            projectsCoords: [
                57.907476, 59.980416
            ],
        }
    },
    components: {
        yandexMap,
        ymapMarker
    },
    mounted() {
        this.QUERY_GET_PROJECTS();
    },
    computed: {
        ...Project.mapState([
            'projects',
            'projectLoader'
        ])
    },
    methods: {
        ...Project.mapActions([
            'QUERY_GET_PROJECTS'
        ]),
        customIcon(name) {
            let icon = '/images/icon/map-pin.svg';

            return {
                layout: 'default#imageWithContent',
                imageSize: [30, 30],
                imageOffset: [-10, -30],
                imageHref: icon,
                contentOffset: [25, 0],
                contentLayout: '<div style="background: #141c63; font-weight: bold; color:#ffffff; width:120px; padding:2px; border-radius:3px; margin-top:5px; margin-left:5px;">' + name + '</div>'
            };
        },
        toProject(projectId) {
            this.$router.push({name: 'house-page', params: {id: projectId}})
        }
    }

}
</script>

<style scoped>
.map-block-four {
    margin-top: 30px;
    margin-bottom: -20px !important;
}

.ymap-container {
    width: 100%;
    height: 100%;
}
</style>
