// form.scss

.form-select {
    background-color: $form-control-bg;
    color: $dark;
    &:focus {
        box-shadow: none;
        border-color: rgba($primary, 0.4);
    }
}

.form-check-input {
    background-color: $form-control-bg;
    border-color: $muted;
    &:checked {
        background-color: $primary;
        border-color: $primary;
    }
}

.form-control {
    color: $dark;
    box-shadow: none;
    padding: 12px 15px;
    font-size: 14px;
    border-color: $gray-300;
    background-color: $form-control-bg;
    &:focus {
        border-color: form-control-bgen($primary, 30%);
        box-shadow: none;
        background-color: $form-control-bg;
        color: $dark;

    }
}

.form-check-input:focus {
    box-shadow: none !important;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $primary;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
