//
// helper.scss
//

@each $color,
$value in $theme-colors {
    .text-#{$color} {
        color: ($value) !important;
    }
    .bg-#{$color} {
        background-color: ($value) !important;
    }
    .bg-soft-#{$color} {
        background-color: rgba(($value), 0.1) !important;
    }
    .border-soft-#{$color} {
        border-color: rgba(($value), 0.1) !important;
    }

}

.btn-dark {
    background-color: $dark !important;
    color: $light !important;
}

// font-size
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}
.fs-21 {
    font-size: 21px;
}
.fs-22 {
    font-size: 22px;
}
.fs-23 {
    font-size: 23px;
}
.fs-24 {
    font-size: 24px;
}


.fw-medium {
    font-weight: $font-weight-medium !important;
}
.fw-semibold {
    font-weight: $font-weight-semibold !important;
}

// icon
// icon size
.icon {
    position: relative;
    top:-2px;
}
.icon-xxl {
    height: 58px;
    width: 58px;
}

.icon-xl {
    height: 42px;
    width: 42px;
}

.icon-lg {
    height: 34px;
    width: 34px;
}

.icon-sm {
    height: 30px;
    width: 30px;
}

.icon-s {
    height: 24px;
    width: 24px;
}

.icon-xs {
    height: 18px;
    width: 18px;
}

.icon-xxs {
    height: 15px;
    width: 15px;
}

// icon-weight
.sw-1_5 {
    stroke-width: 1.5px;
}

.sw-1 {
    stroke-width: 1px;
}

.section {
    padding: 80px 0px;
}
.sm-section {
    padding: 40px 0px;
}

// border
.border {
   border: 1px solid $gray-300 !important;
}

.border-top {
    border-top: 1px solid $gray-300 !important;
}

.border-bottom {
    border-bottom: 1px solid $gray-300 !important;
}

.border-end {
    border-right: 1px solid $gray-300 !important;
}
.border-primary {
    border-color: $primary !important;
}

// rounded
.rounded-lg {
    border-radius: $border-radius-lg;
}

// card
.card {
    background-color: $body-bg;
    border: none !important;
}

// shadow

.shadow {
    box-shadow: 1px 1px 7px 0px rgba($dark, 0.09) !important;
}

.title {
    border-bottom: 2px solid $dark !important;
}

.section-title{
    padding-left: 30px;
}

.w-80 {
    width: 80vh !important;
}

.brand-section {
    padding: 0px 0px 60px;
}

// brand-logo

.client-box {
    img {
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}



// light-dark buton
.mode-btn {
    position: fixed;
    color: $white;
    width: 45px;
    height: 45px;
    top: 20%;
    left: 0px;
    z-index: 9999;
    padding: 9px;
    background-color: darken($primary, 5%);
    border: 1px solid darken($primary, 5%);
}
#mode {
    .mode-dark {
        display: $display-light;
    }
    .mode-light {
        display: $display-dark;
    }
}



















