// portfolio.scss


.filter-options {
    li {
        a {
            font-size: 15px;
            padding: 7px 12px 7px 12px;
            color: rgba($dark, 0.75);
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            border-radius: 3px;
        }

        &:hover,
        &.active,
        &:active,
        &:focus {
            a {
                color: $white;
                background-color: $primary;
            }
        }
    }
}

.filter-box {
    display: none;
}

.show {
    display: block;
}


.work-container {
    margin-top: 24px;

    .content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0;
        padding: 20px;
        transition: all 0.5s ease-in-out;
        border-radius: 6px;
        margin: 0 10px 0 10px;
    }

    img {
        -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
        filter: grayscale(80%);
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        &:after {
            display: block;
        }

        .content {
            opacity: 1;
            z-index: 1;
        }

        img {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }
}


@media (max-width:576px) {
    .filter-option {
        li {
            margin-bottom: 10px;
        }
    }
}
