

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// stylelint-disable
$white: #ffffff;
$gray-100: #fafafa;
$gray-200: #f5f5f5;
$gray-300: #ededed;
$gray-400: #cbcbd5;
$gray-500: #e8f0f7;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #333333;
$gray-900: #02000c;
$black: #000000;


$primary:   #141c63;
$secondary: #6c757d;
$success:   #1FDEA5;
$info:      #00B4D8;
$warning:   #FFD655;
$danger:    #f37f5c;
$dark:      #383840;
$light:     #fafafa;
$muted:     #93959c;

// theme color
$theme-colors:(
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "dark": $dark,
        "light": $light,
        "muted": $muted
 );

$body-bg : $white;

$footer-bg : #383840;

$content-bg: #F7F8FB;

$form-control-bg: #ffffff;

$display-light: block;

$display-dark: none;

$box-shadow:   0px 4px 10px 0px rgba(69, 61, 80, 0.08);

$font-family-primary: 'Roboto', sans-serif;

// Secondary font
$font-family-secondary: 'Roboto', sans-serif;

// font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;


// rounded
$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;
