

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// stylelint-disable
$white: #ffffff;
$gray-100: #02000c;
$gray-200: #333333;
$gray-300: #495057;
$gray-400: #6c757d;
$gray-500: #e8f0f7;
$gray-600: #cbcbd5;
$gray-700: #ededed;
$gray-800: #f5f5f5;
$gray-900: #fafafa;
$black: #000000;


$primary:   #141c63;
$secondary: #6c757d;
$success:   #1FDEA5;
$info:      #00B4D8;
$warning:   #FFD655;
$danger:    #FF623E;
$dark:      #fafafa;
$light:     #3a3b46;
$muted:     #93959c;


// theme color
$theme-colors:(
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "dark": $dark,
        "light": $light,
        "muted": $muted
 );


$body-bg: #373844;

$footer-bg : #30303c;

$content-bg: #40414c;

$form-control-bg: #40414c;

$display-light: none;

$display-dark: block;

$box-shadow:   0px 4px 10px 0px rgba(69, 61, 80, 0.08);


$font-family-primary: 'Roboto', sans-serif;

// Secondary font
$font-family-secondary: 'Roboto', sans-serif;

// font weight
$font-weight-medium: 500;
$font-weight-semibold: 600;


// rounded
$border-radius:               .25rem;
$border-radius-sm:            .2rem;
$border-radius-lg:            .3rem;

