<template>
    <div class="service-details position-relative mt-160 mb-150 lg-mt-100 lg-mb-100">
        <preloader/>
        <div class="container">
            <div class="row">
                <div class="col-lg-12" v-scroll-reveal.reset>
                    <div class="service-box card about-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 mb-4 ">
                                        <div class="about-header-about">
                                            <h1>О компании</h1>

                                            <p>строительная компания «ИНТЕР» - профессиональная девелоперская компания, с
                                                многолетним опытом создания жилых и административных зданий.</p>
                                            <p> За 18 лет на рынке строительных услуг в портфеле команды девелопера
                                                более 200 выполненных объектов на территории УрФО. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6 mb-10">
                                        <div class="service-box card about-header-itm mb-4">
                                            <h3>18 лет</h3>
                                            <p class="text-uppercase text-dark">На строительном рынке</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6  mb-10">
                                        <div class="service-box card about-header-itm mb-4">
                                            <h3>200 объектов</h3>
                                            <p class="text-uppercase text-dark">Реализовано в УрФО</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-10">
                                        <div class="service-box card about-header-itm mb-4">
                                            <h3>280000 м<sup>2</sup></h3>
                                            <p class="text-uppercase text-dark">В портфолио команды</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-10">
                                        <div class="service-box card about-header-itm mb-4">
                                            <h3>14</h3>
                                            <p class="text-uppercase text-dark">Жилых домов</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" v-scroll-reveal.reset>
                    <div class="row">
                        <div class="col-lg-6 mb-10">
                            <div class="service-box card about-itm">
                                <p class="text-uppercase">Надежный <br> застройщик</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-10">
                            <div class="service-box card about-itm">
                                <p class="text-uppercase">Профессиональная <br> команда</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-10">
                            <div class="service-box card about-itm">
                                <p class="text-uppercase">Перспективные <br> проекты</p>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-10">
                            <div class="service-box card about-itm">
                                <p class="text-uppercase">Лучшие <br> инженеры</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" v-scroll-reveal.reset>
                    <div class="row">
                        <div class="col-lg-12 mb-10">
                            <div class="service-box card about">
                                <p class="text-uppercase text-dark">
                                    <b>«Мы делаем ставку не на большой объем заказов, а на профессиональный подход
                                        к выполнению каждого объекта»
                                        Дроздач Сергей Александрович  Директор</b> <br>
                                    Дроздач Сергей Александрович директор
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="images/shape/shape_48.svg" alt="" class="shapes bg-shape">
    </div>
</template>

<script>
import Preloader from "./system/Preloader";

export default {
    data() {
        return {
            loader: true,
        }
    },
    components: {
        Preloader
    },
    mounted() {
        this.loader = false
    },
}
</script>

<style scoped>
.about-itm {
    min-height: 110px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    display: block;
    color: #141C63;
}

.about {
    min-height: 200px;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
}

.about-header {
    min-height: 200px;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 20px;
    display: block;
}

.about-header-about {
    padding: 15px;
    min-height: 285px;
    background: #F7F8FB;
    border-radius: 5px;
    height: 100%;
    font-size: 15px;
}

.about-header-itm {
    min-height: 130px;
    padding: 15px;
    background: #F7F8FB;
    border-radius: 5px;
}

.about-header-itm h3 {
    color: #FF623E;
    font-size: 25px;
}
</style>
