<template>
    <section>
        <menu-module/>
        <router-view/>
        <feedback-module v-scroll-reveal/>
        <footer-module v-scroll-reveal/>
    </section>
</template>

<script>

export default {
    mounted() {
    },
    computed: {
        loader() {
            return this.$store.state.App.loader;
        },
    }

}
</script>

<style scoped>

</style>
