<template>
    <div class="container">
        <preloader />
        <div class="row">
            <div class="col-lg-6 col-md-6"  v-scroll-reveal.reset>
                <div class="card shadow rounded-3 py-4 mt-4">
                    <div class="p-3" >
                        <label for="cost" class="form-check-label text-dark">Стоимость недвижимости ₽</label>
                        <money  v-bind="money" @input="calculateFee()" v-model="form.cost" id="cost"
                                type="text" class="form-control mt-2" inputmode="numeric"></money>
                    </div>
                    <div class="p-3">
                        <label for="fee" class="form-check-label text-dark">Первоначальный взнос ₽</label>
                        <money v-bind="money" @input="calculateCost()" v-model="form.fee" id="fee"
                               type="text" class="form-control mt-2" inputmode="numeric"></money>
                    </div>

                    <div class="p-3">
                        <div class="money-form-percent">
                            <input @change="calculateFee()" v-model.number="form.percent" name="percent" type="radio"
                                   id="10" value="10" class="money-form-percent__radio" :disabled="form.cost < 1000">
                            <label for="10" class="money-form-percent__label">10%</label>

                            <input @change="calculateFee()" v-model.number="form.percent" name="percent" type="radio"
                                   id="15" value="15" class="money-form-percent__radio" :disabled="form.cost < 1000">
                            <label for="15" class="money-form-percent__label">15%</label>

                            <input @change="calculateFee()" v-model.number="form.percent" name="percent" type="radio"
                                   id="20" value="20" class="money-form-percent__radio" :disabled="form.cost < 1000">
                            <label for="20" class="money-form-percent__label">20%</label>

                            <input @change="calculateFee()" v-model.number="form.percent" name="percent" type="radio"
                                   id="25" value="25" class="money-form-percent__radio" :disabled="form.cost < 1000">
                            <label for="25" class="money-form-percent__label">25%</label>

                            <input @change="calculateFee()" v-model.number="form.percent" name="percent" type="radio"
                                   id="30" value="30" class="money-form-percent__radio" :disabled="form.cost < 1000">
                            <label for="30" class="money-form-percent__label">30%</label>
                        </div>
                    </div>


                    <div class="p-3">
                        <label for="time" class="form-check-label text-dark">Срок кредита (лет)</label>
                        <input v-model.number="form.time" id="time" type="number" class="form-control mt-2"
                               inputmode="numeric">
                    </div>
                    <div class="p-3">
                        <label for="rate" class="form-check-label text-dark">Процентная ставка %</label>
                        <input v-model.number="form.rate" id="rate" type="number" class="form-control mt-2"
                               inputmode="numeric">
                    </div>
                    <div class="money-form-button p-3">
                        <button class="submitBnt btn btn-primary rounded" @click="toSave()">Запомнить</button>
                        <button class="submitBnt btn btn-primary rounded" @click="toClear()">Забыть</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6"  v-scroll-reveal.reset>
                <div class="card shadow rounded-3 py-4 mt-4 p-3">
                    <p class="label">Ежемесячный платёж
                        <h3 class="money-total__output"> {{ pay | format }} ₽</h3>
                    </p>

                    <p class="label">Необходимый доход
                        <h3 class="money-total__output"> {{ income | format }} ₽</h3>
                    </p>

                    <p class="label">Переплата
                        <h3 class="money-total__output"> {{ overpay | format }} ₽</h3>
                    </p>

                    <p class="label">Тело кредита
                        <h3 class="money-total__output"> {{ credit | format }} ₽</h3>
                    </p>
                </div>
            </div>
        </div>


    </div>
</template>

<script>

import Preloader from "./system/Preloader";

export default {
    name: "CalculatorComponent",
    components: {
    Preloader
    },
    data() {
        return {
            form: {
                cost: '',
                percent: '',
                fee: '',
                time: '20',
                rate: '5.2'
            },
            money: {
                decimal: ' ',
                thousands: ' ',
                precision: 0,
                masked: false
            }
        }
    },
    props: {
        cost: {
            type: Number,
            default: 0
        }
    },
    mounted() {
        if (localStorage.cost) {
            this.form.cost = localStorage.cost;
        }
        if (localStorage.percent) {
            this.form.percent = localStorage.percent;
        }
        if (localStorage.fee) {
            this.form.fee = localStorage.fee;
        }
        if (localStorage.time) {
            this.form.time = localStorage.time;
        }
        if (localStorage.rate) {
            this.form.rate = localStorage.rate;
        }
        if(this.cost !== 0){
            this.form.cost = this.cost
        }
    },

    methods: {
        calculateCost() {
            if (this.form.percent !== '') {
                this.form.cost = this.form.fee / this.form.percent * 100;
            }
        },

        calculateFee() {
            if (this.form.percent !== '') {
                if (this.form.cost === '') {
                    this.form.cost = this.form.fee / this.form.percent * 100;
                } else {
                    this.form.fee = this.form.cost * this.form.percent / 100;
                }
            }

            if(this.form.cost < 1000){
                this.form.percent = this.form.fee = ''
            }
        },

        toClear() {
            this.form.cost = '';
            this.form.percent = '';
            this.form.rate = '5.2';
            this.form.time = '20';
            this.form.fee = '';
            localStorage.cost = this.form.cost;
            localStorage.percent = this.form.percent;
            localStorage.fee = this.form.fee;
            localStorage.time = this.form.time;
            localStorage.rate = this.form.rate;
        },

        toSave() {
            localStorage.cost = this.form.cost;
            localStorage.percent = this.form.percent;
            localStorage.fee = this.form.fee;
            localStorage.time = this.form.time;
            localStorage.rate = this.form.rate;
        }
    },
    computed: {
        credit: function () {
            return this.form.cost - this.form.fee ?? 0;
        },

        division: function () {
            if (this.form.rate === '') {
                return 1
            } else {
                return this.form.rate / 1200
            }
        },
        pay: function () {
            if (this.form.time === '') {
                return 0
            } else {
                return (this.credit *
                    (this.division + (this.division / (((1 + this.division) ** (this.form.time * 12)) - 1))))
                    .toFixed(0);
            }
        },

        income: function () {
            return (5 * (this.pay / 3)).toFixed(0)
        },

        overpay: function () {
            return (this.pay * (this.form.time * 12)) - this.form.cost + this.form.fee;
        },
    },

    filters: {
        format: val => `${val}`.replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1 '),
    }
}
</script>
