<template>
    <div>
        <Preloader />
<!--        <div class="theme-inner-banner"
             :style="{ backgroundImage: 'url(http://placehold.it/1600x400)' }">
            <div class="container">
                <div class="theme-inner-banner__content">
                    <div class="row theme-inner-banner__title">
                        <h2 class="theme-inner-banner__title-content">Контакты</h2>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-5" >
                    <div  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">Email</h5>
                        <a href="ooo.inter.nt@gmail.com" class="text-dark fs-16 info">ooo.inter.nt@gmail.com</a>
                    </div>
                    <div class="mt-4"  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">Телефон</h5>
                        <a href="tel:+73435384660" class="text-dark fs-16 info">+7(3435) 38-46-60</a>
                        <br>
                        <a href="tel:+73435384670" class="text-dark fs-16 info">+7(3435) 38-46-70</a>
                        <br>
                        <a href="tel:+79222202414" class="text-dark fs-16 info">+7 (922) 220-24-14</a>
                    </div>
                    <div class="mt-4"  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">Адрес</h5>
                        <p class="text-dark fs-16 info">Липовый тракт 26А,<br>Нижний Тагил</p>
                    </div>
                    <div class="mt-4"  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">ОФИС ПРОДАЖ</h5>
                        <p class="text-dark fs-16 info">Липовый тракт 26А, 1 этаж<br>Нижний Тагил</p>
                    </div>
                    <div class="mt-4"  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">ИНН/КПП</h5>
                        <p class="text-dark fs-16 info">6623003378 / 662301001</p>
                    </div>
                    <div class="mt-4"  v-scroll-reveal.reset>
                        <h5 class="text-muted fw-medium fs-14">Социальные сети</h5>
                        <p class="text-dark fs-16 info"> <a href="https://vk.com/dom.inter" class="text-dark fs-16 info"> Вконтакте</a></p>
                    </div>
                </div>
                <div class="col-lg-8 mt-5"  v-scroll-reveal.reset>
                    <div class="col-12 col-sm-12 col-lg-12 text-center" v-if="success">
                        <div class="alert-success">Обращение отправлено, в ближайшее время с вами свяжутся</div>
                    </div>

                    <div class="col-12 col-sm-12 col-lg-12 text-center"
                         v-if="(!!errors && errors.length > 0)">
                        <div class="alert-danger p-2">{{ errors }}</div>
                    </div>

                    <div class="row g-3" v-scroll-reveal.reset>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" placeholder="Ваше имя"
                                       v-model="full_name">
                                <label class="text-muted" for="name">Ваше имя</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <the-mask type="text" class="form-control" placeholder="Номер телефона" v-model="phone"
                                          :mask="'+7 (###) ###-##-##'"></the-mask>
                                <label class="text-muted" for="email">Телефон</label>
                            </div>
                        </div>
                    </div>
                    <div class="row"  v-scroll-reveal.reset>
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Тема обращения" id="subject"
                                       v-model="subject">
                                <label class="text-muted" for="subject">Тема обращения</label>
                            </div>
                        </div>
                    </div>
                    <div class="row"  v-scroll-reveal.reset>
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Текст сообщения...." style="height: 100px;"
                                          id="comments" v-model="message"></textarea>
                                <label class="text-muted" for="comments">Текст сообщения</label>
                            </div>
                        </div>
                    </div>
                    <div class="row"  v-scroll-reveal.reset>
                        <div class="col-lg-12">
                            <input type="submit" id="submit" @click="sendForm()"
                                   class="submitBnt btn btn-primary rounded"
                                   value="Оставить обращение">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-block-four">
            <div class="wrapper">
                <div style="height: 450px;">
                    <yandex-map
                        :coords="projectsCoords"
                        :zoom=12
                        :controls="[]"
                    >
                        <ymap-marker
                            :coords="[57.92114300124233, 59.93863821029664]"
                            :marker-id="1"
                            :icon="customIcon('ООО Интер')"
                        />
                    </yandex-map>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import {yandexMap, ymapMarker} from 'vue-yandex-maps'
import axios from "axios";
import Preloader from "./system/Preloader";

export default {
    data() {
        return {
            loader: true,
            projectsCoords: [
                57.907476, 59.980416
            ],
            phone: '',
            full_name: '',
            subject: '',
            message: '',
            errorData: null,
            success: false
        }
    },

    computed: {
        errors() {
            return this.errorData ?? null
        }
    },
    components: {
        yandexMap,
        ymapMarker,
        Preloader
    },
    mounted() {
        this.loader = false
    },
    methods: {

        checkForm: function () {
            this.errorData = null;

            if (this.phone.length === 0 || this.phone.length < 10) {
                this.errorData = 'Заполните пожалуйста номер телефона';
                return false;
            }

            if (this.full_name.length === 0 || this.phone.length < 2) {
                this.errorData = 'Заполните пожалуйста имя';
                return false;
            }

            if (this.subject.length === 0 || this.subject.length < 10) {
                this.errorData = 'Заполните пожалуйста тему обращения (не менее 10 символов)';
                return false;
            }

            if (this.message.length === 0 || this.message.length < 10) {
                this.errorData = 'Заполните пожалуйста текст обращения  (не менее 10 символов)';
                return false;
            }

            return true;
        },
        customIcon(name) {
            let icon = '/images/icon/map-pin.svg';

            return {
                layout: 'default#imageWithContent',
                imageSize: [30, 30],
                imageOffset: [-10, -30],
                imageHref: icon,
                contentOffset: [25, 0],
                contentLayout: '<div style="background: #141c63; font-weight: bold; color:#ffffff; width:120px; padding:2px; border-radius:3px; margin-top:5px; margin-left:5px;">' + name + '</div>'
            };
        },
        sendForm() {
            if (!this.checkForm()) {
                return
            }
            axios.post('/api/feedback', {
                phone: '8' + this.phone,
                full_name: this.full_name,
                description: 'Пользователь отправил запрос со страницы ' + window.location + ' формы обращения' +
                    '. Телефон: ' + this.phone + '. Имя: ' + this.full_name + '. Тема обращения: ' + this.subject + '. Текст обращения: ' + this.message,
                type: 'message'
            }).then(response => {
                this.isSuccess()
            }).catch(e => {
                if(e.response.status === 403){
                    this.errorData = 'Если у вас подключен VPN, пожалуйста, отключите его и отправьте форму заново'
                }
            })
        },
        isSuccess() {
            this.success = true
            setTimeout(() => {
                this.success = false
            }, 3000)
        },
    }
}
</script>
<style scoped>
.theme-inner-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    margin-bottom: 20px;
}

.theme-inner-banner__content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}


.theme-inner-banner__title {
    position: relative;
}

.section-row {
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.projects-list {
    position: relative;
}

.projects-list__title {
    max-width: 560px;
    margin-bottom: 100px;
}
.projects-list__title-description{
    margin-top: 25px;
    font-size: 16px;
}

.rounded-circle {
    display: block;
    text-align: center;
    padding-top: 70px;
    width: 200px !important;
    height: 200px !important;
}

.projects-list__square-count {
    position: absolute !important;
    top: 0 !important;
    font-size: 16px;
    width: 250px;
    right: 0 !important;
}

@media (max-width: 767px) {
    .section-row {
        display: block;
    }
}

.theme-inner-banner__info {
    margin-top: auto;
}

@media (max-width: 767px) {
    .theme-inner-banner__info-description {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .btn-primary {
        width: 100%;
        margin-bottom: 0;
    }
}

.theme-inner-banner__info-content {
    color: #fff;
}

.theme-inner-banner__info-description {
    color: #B44F50;
}

.theme-inner-banner__title-content {
    margin-top: 35px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.theme-inner-banner__address {
    margin-top: 20px;
}

.theme-inner-banner__address-full_address {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.info {
    color: #141c63 !important;
}

.map-block-four {
    margin-top: 30px;
    margin-bottom: -20px !important;
}

.ymap-container {
    width: 100%;
    height: 100%;
}

.alert-success {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.alert-danger {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}
</style>
