<template>
    <section class="sm-section">
        <preloader/>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar shadow rounded-3 py-4 mt-4 card">
                        <div class="p-3">
                            <span @click="setTab('grid')" class="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-grid me-2"
                                     :class="activeTab === 'grid' ? 'text-primary' : 'text-muted'"
                                >
                                    <rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7"
                                                                                        height="7"></rect><rect x="14"
                                                                                                                y="14"
                                                                                                                width="7"
                                                                                                                height="7"></rect><rect
                                    x="3" y="14" width="7" height="7"></rect>
                                </svg>
                            </span>
                            <span @click="setTab('list')" class="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-list"
                                     :class="activeTab === 'list'  ? 'text-primary' : 'text-muted'">
                                    <line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21"
                                                                                    y2="12"></line><line x1="8" y1="18"
                                                                                                         x2="21"
                                                                                                         y2="18"></line><line
                                    x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line
                                    x1="3" y1="18" x2="3.01" y2="18"></line>
                                </svg>
                            </span>
                        </div>
                        <!-- categories -->
                        <flat-filter
                            :filters="filters"
                            :tags="tags"
                            @change-tag="selectTag"
                            @send-filters="sendFilters"
                        />
                    </div>
                </div>

                <div class="col-md-9">
                    <flat-grid v-if="activeTab === 'grid'" :flats="flats" id="flats"></flat-grid>
                    <flat-list v-if="activeTab === 'list'" :flats="flats" id="flats"></flat-list>
                    <pagination
                        v-if="flats.length > 0"
                        :pagination="pagination"
                        @change-page="paginated"
                    ></pagination>
                </div>

            </div>
        </div>
    </section>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import FlatGrid from "./flat/FlatGrid";
import FlatList from "./flat/FlatList";
import Pagination from "./helpers/Pagination";
import FlatFilter from "./filters/FlatFilter";
import Preloader from "./system/Preloader";

const Flat = createNamespacedHelpers('Flat');
export default {
    components: {
        FlatFilter,
        FlatGrid,
        FlatList,
        Pagination,
        Preloader
    },
    props: {
        projectId: {
            type: Number,
            required: false,
            default: 0
        }
    },
    data() {
        return {
            loader: true,
            activeTab: 'grid'
        }
    },
    async created() {
        this.activeTab = this.$route.query.type ?? 'grid'

        await this.QUERY_GET_ALL_FLAT(this.projectId !== 0 ? this.projectId : null)

        await this.QUERY_GET_FILTERS(this.projectId !== 0 ? this.projectId : null)
    },
    computed: {
        ...Flat.mapState([
            'flats',
            'tags',
            'filters',
            'pagination'
        ]),
    },
    methods: {
        ...Flat.mapActions([
            'QUERY_GET_ALL_FLAT',
            'QUERY_GET_FILTERS',
        ]),
        setTab(tab) {
            this.activeTab = tab
            let queryParams = {...this.$route.query, type: this.activeTab}
            this.$router.push({path: this.$route.path, query: queryParams})
        },
        paginated(page) {
            let queryParams = {...this.$route.query, page: page}
            this.$router.push({path: this.$route.path, query: queryParams})

            this.QUERY_GET_ALL_FLAT(page)

            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        },
        selectTag(tag) {
            this.setParams('tags', tag)

            this.QUERY_GET_ALL_FLAT({})
            document.getElementById("flats").scrollIntoView();
        },
        sendFilters(filters) {
            filters.forEach(filter => {
                let data =
                    Array.isArray(filter.value)
                        ? filter.value.join(',')
                        : filter.value

                this.setParams(filter.name, data, false)
            })

            this.QUERY_GET_ALL_FLAT({})

            document.getElementById("flats").scrollIntoView();
        },

        setParams(name, value, isChecked = true) {
            let values = this.$route.query[name];

            if (!value && values === undefined) {
                return;
            }

            if (values && isChecked) {
                values = values.split(',');

                if (values.includes(value)) {
                    values.splice(values.indexOf(value), 1);
                } else {
                    values.push(value);
                }

                values = values.join(',');
            } else {
                values = value;
            }

            if (values === '' || !value) {
                const currentQuery = {...this.$route.query};

                delete currentQuery[name];

                this.$router.replace({query: currentQuery});
            } else {
                let queryParams = {...this.$route.query, [name]: values, page: 1}
                const route = this.$router.resolve({path: this.$route.path, query: queryParams});

                if (route.href.split('?')[1] !== window.location.search.replace('?', '')) {
                    this.$router.push({path: this.$route.path, query: queryParams})
                }
            }
        }
    }
}
</script>

<style scoped>
.tab:hover {
    cursor: pointer;
    text-decoration: none;
}
</style>
