<template>
    <div>
        <preloader/>
        <alert :show-alert="showAlert"/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <div class="filters-group mb-3">
                        <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                            <li @click="onTab('layout')"
                                class="list-inline-item categories position-relative my-sm-0 my-2"
                                :class="{'active': activeTab === 'layout'}"><a href="#">Планировка</a></li>
                            <li @click="onTab('on the floor')"
                                class="list-inline-item categories position-relative my-sm-0 my-2"
                                :class="{'active': activeTab === 'on the floor'}"><a href="#"> На этаже</a></li>
                        </ul>
                    </div>
                    <div v-show="activeTab === 'layout'">
                        <div class="position-relative">
                            <div class="item-box">
                                <img class="item-container img-fluid rounded" :src="flat.image_flat" alt="1">
                            </div>
                            <!--                            <span
                                                            class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-18%</span>-->
                        </div>
                    </div>
                    <div v-show="activeTab === 'on the floor'">
                        <div class="portfolio-block-one mt-40 mb-80 lg-mt-20 lg-mb-40">
                            <div class="img-meta">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="map_swg">
                                    <g class="g-stable" v-for="coordinate in flat_coords">
                                        <polyline :points="coordinate.points" :fill="coordinate.fill"
                                                  :opacity="coordinate.opacity"></polyline>
                                    </g>
                                </svg>
                                <img :src="floor.image_floor" alt="" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="pro-detail-content">
                        <div class="details mb-4">
                            <div class="d-flex align-items-center">
                                <h4 class="mb-0"> Квартира {{ getNumberOfRooms(flat.number_of_rooms) }} №
                                    {{ flat.number }} <span v-if="flat.status === 2" style="color:red">Продано</span>
                                </h4>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h3 class="mb-0 text-danger">{{ flat.square_meters }} М <sup>2</sup></h3>
                                </div>
                            </div>
                        </div>
                        <div class="details mb-4">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="mb-0">Проект</h5>
                                    <p class="mb-0 text-inform">{{ project.title }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="details mb-4">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="mb-0">Срок сдачи</h5>
                                    <p class="mb-0 text-inform">{{ project.quarter }} кв. {{
                                            project.delivery_year
                                        }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="details mb-4">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="mb-0">Номер квартиры</h5>
                                    <p class="mb-0 text-inform">{{ flat.number }}</p>
                                </div>
                                <div class="flex-grow-2">
                                    <h5 class="mb-0">Этаж</h5>
                                    <p class="mb-0 text-inform">{{ floor.number }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="details mb-4">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="mb-0">Общая площадь, м<sup>2</sup></h5>
                                    <p class="mb-0 text-inform">{{ flat.square_meters }}</p>
                                </div>

                                <div class="flex-grow-2">
                                    <h5 class="mb-0">Жилая площадь, м<sup>2</sup></h5>
                                    <p class="mb-0 text-inform">{{ flat.live_area_square_meters }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="details mb-4" v-if="!!flat.price">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="mb-0">Стоимость</h5>
                                    <p class="mb-0 price-inform">{{ flat.price }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="details mb-4">
                            <ul class="list-unstyled">
                                <li class="text-muted py-1" v-for="tag in flat.tags">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-arrow-right icon-xxs me-2">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg>
                                    {{ tag.title }}
                                </li>
                            </ul>
                        </div>

                        <div class="hover-content" v-if="flat.status !== 2">
                            <button class="btn btn-secondary my-2" @click="addToWishlist()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-heart icon-xs me-2">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                </svg>
                                В избранное
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4" v-if="!!flat.excursion_url">
                <h3>3D экскурсия</h3>
                <iframe :src="flat.excursion_url" class="excursion"></iframe>
            </div>
            <div class="row mt-4">
                <calculator-component :cost="flat.price ?? 3000000"></calculator-component>
            </div>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import CalculatorComponent from "./CalculatorComponent";
import Preloader from "./system/Preloader";
import Alert from "./system/Alert";

const Project = createNamespacedHelpers('Project');
const Floor = createNamespacedHelpers('Floor');
const Flat = createNamespacedHelpers('Flat');
const Wishlist = createNamespacedHelpers('Wishlist');

export default {
    components: {
        CalculatorComponent,
        Preloader, Alert
    },
    data() {
        return {
            loader: true,
            container: {},
            flat_coords: [],
            activeTab: 'layout',
            showAlert: false
        }
    },
    async created() {
        this.loader = false

        window.addEventListener('resize', this.onResize)

        await this.QUERY_GET_PROJECT({
            id: this.$route.params.id,
        })

        await this.QUERY_GET_FLOOR({
            projectId: this.$route.params.id,
            floorId: this.$route.params.floorId
        })

        await this.QUERY_GET_FLAT({
            projectId: this.$route.params.id,
            floorId: this.$route.params.floorId,
            flatId: this.$route.params.flatId
        })

        setTimeout(() => {
            this.setContainer()
            this.makeCoords()
        }, 500)
    },
    computed: {
        ...Project.mapState([
            'project',
            'projectLoader'
        ]),
        ...Floor.mapState([
            'floor',
            'floorLoader'
        ]),
        ...Flat.mapState([
            'flat',
            'flatLoader'
        ]),
    },
    methods: {
        ...Floor.mapActions([
            'QUERY_GET_FLOOR'
        ]),
        ...Flat.mapActions([
            'QUERY_GET_FLAT'
        ]),
        ...Project.mapActions([
            'QUERY_GET_PROJECT'
        ]),
        ...Flat.mapMutations([
            'SET_DEFAULT_FLAT'
        ]),
        ...Wishlist.mapActions([
            'QUERY_SET_WISHLIST',
            'QUERY_SET_WISHLIST_ITEM'
        ]),
        addToWishlist() {
            this.QUERY_SET_WISHLIST_ITEM({
                flatId: this.flat.id
            })
            this.showAlert = true;
            setTimeout(() => {
                this.showAlert = false;
            }, 2000);

        },
        getNumberOfRooms(numberOfRooms) {
            if (numberOfRooms === 0) {
                return 'студия'
            } else if (numberOfRooms === 1) {
                return 'однокомнатная'
            } else if (numberOfRooms === 2) {
                return 'двухкомнатная'
            } else if (numberOfRooms === 3) {
                return 'трёхкомнатная'
            } else if (numberOfRooms === 4) {
                return 'четырёхкомнатная'
            } else if (numberOfRooms === 5) {
                return 'пятикомнатная'
            }

            return 'Шестикомнатная'
        },
        makeCoords() {
            if (!this.container) {
                return
            }
            let coords = []

            let points = '';

            JSON.parse(this.flat.coords).forEach((coordinate) => {
                points += ((coordinate.x * this.container.offsetWidth) / 100) + ', ' + ((coordinate.y * this.container.offsetHeight) / 100) + ' ';
            })

            coords.push({
                points: points,
                fill: '#141c63',
                opacity: '0.7'
            })

            return this.flat_coords = coords
        },
        setContainer() {
            this.container = document.querySelector('.img-meta')
        },
        setFlat(flatId) {
            this.QUERY_GET_FLAT({
                projectId: this.floor.project_id,
                floorId: this.floor.id,
                flatId: flatId,
            })
        },
        clearFlat() {
            this.SET_DEFAULT_FLAT()
        },
        onResize() {
            this.setContainer()
            this.makeCoords()
        },
        onTab(data) {
            this.activeTab = data
            setTimeout(() => {
                this.setContainer()
                this.makeCoords()
            }, 50)
        }
    }
}
</script>
<style scoped>


.map_swg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute !important;
}

.excursion{
    min-height: 600px;
}
.item-box {
    padding: 10px;
    background: #ffffff;
}

.flex-grow-1 {
    max-width: 50%;
}

.flex-grow-2 {
    max-width: 50%;
}

.text-inform {
    font-size: 16px;
    color: #141c63;
    font-weight: bold;
}

.price-inform {
    font-size: 30px;
    color: #141c63;
    font-weight: bold;
}
</style>
