<template>
    <div>
        <Preloader />
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 mt-4">
                    <div id="interactive_section_floor">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="map_swg">
                            <g v-for="(coordinate, index) in coords" style="cursor:pointer;">
                                <polyline
                                    :ref="'floor' + index"
                                    :points="coordinate.points"
                                    :fill="coordinate.fill"
                                    :opacity="coordinate.opacity"
                                    @mouseover="hoverCoordinate(coordinate, index)"
                                    @mouseout="outCoordinate(coordinate, index)"
                                    @click="toFlat(coordinate.flatId, index, false)"
                                ></polyline>
                            </g>
                        </svg>
                        <img :src="floor.image_floor" alt="изображение проекта">

                        <div v-if="isTooltipVisible" class="plan_section-desktop" :style="tooltipStyle"
                             :class="{ 'block-visible': isTooltipVisible }" id="plan_section_tooltip">
                            <div class="plan_section-desktop__tooltip">
                                <div class="plan_section-desktop__tooltip-content">
                                    <div class="tooltip-close" @click="closeTooltip" v-if="isMobile">&#10006;</div>
                                    <div class="plan_section-desktop__tooltip-content__title">
                                        {{ selectedFlat.number }} квартира
                                    </div>
                                    <div class="plan_section-desktop__tooltip-content__square">
                                        {{ selectedFlat.square_meters }} м -
                                        жилая:{{ selectedFlat.live_area_square_meters }} <sup>2</sup>
                                    </div>
                                    <div class="plan_section-desktop__tooltip-content__price" v-if="flat.price">
                                        {{flat.price}}
                                    </div>
                                    <div class="image-area">
                                        <img :src="selectedFlat.image_flat" alt="изображение проекта" v-if="isMobile"
                                             class="image-flat">
                                    </div>
                                    <div class="col-12 col-sm-12 col-lg-12">
                                        <input type="submit" id="submit" name="send" class="btn btn-primary"
                                               v-if="isMobile"
                                               value="Перейти" @click="toFlat(selectedFlat.id, 0,true)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <flat-carousel :flats="flats"></flat-carousel>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import FlatCarousel from "./flat/FlatCaorusel";
import Preloader from "./system/Preloader";

const Project = createNamespacedHelpers('Project');
const Floor = createNamespacedHelpers('Floor');
const Flat = createNamespacedHelpers('Flat');

export default {
    data() {
        return {
            coords: [],
            selectedCoordinate: {},
            tooltipStyle: {},
            selectedFlat: {},
            flats: [],
            isTooltipVisible: false,
            isMobile: false,
        }
    },
    components: {
        FlatCarousel,
        Preloader
    },
    async created() {
        this.checkWindowSize();
        window.addEventListener('resize', this.checkWindowSize);
        window.addEventListener('resize', this.onResize)

        await this.QUERY_GET_PROJECT({
            id: this.$route.params.id,
        })

        await this.QUERY_GET_FLOOR({
            projectId: this.$route.params.id,
            floorId: this.$route.params.floorId
        })

        setTimeout(() => {
            this.setContainer()
            this.makeCoords()
        }, 100)

        this.setFlats()
    },
    computed: {
        ...Project.mapState([
            'project',
            'projectLoader'
        ]),
        ...Floor.mapState([
            'floor',
            'floorLoader'
        ]),
        ...Flat.mapState([
            'flat',
            'flatLoader'
        ]),
    },
    methods: {
        ...Floor.mapActions([
            'QUERY_GET_FLOOR'
        ]),
        ...Flat.mapActions([
            'QUERY_GET_FLAT'
        ]),
        ...Project.mapActions([
            'QUERY_GET_PROJECT'
        ]),
        ...Flat.mapMutations([
            'SET_DEFAULT_FLAT'
        ]),

        checkWindowSize() {
            const width = window.innerWidth ||
                document.documentElement.clientWidth ||
                document.body.clientWidth;
            this.isMobile = width <= 768;
            this.isTooltipVisible = false;
        },
        setFlats() {
            this.flats = this.floor.flats
        },
        redirect(flatId) {
            this.$router.push({
                name: 'flat-page',
                params: {'id': this.project.id, 'floorId': this.floor.id, 'flatId': flatId}
            })
        },
        makeCoords() {
            let coords = []
            if (!this.floor.flats || this.floor.flats.length === 0 || this.container.offsetHeight === 0) {
                return []
            }
            this.floor.flats.forEach((flat) => {
                let points = '';

                JSON.parse(flat.coords).forEach((coordinate) => {
                    points += ((coordinate.x * this.container.offsetWidth) / 100) + ', ' + ((coordinate.y * this.container.offsetHeight) / 100) + ' ';
                })

                coords.push({
                    points: points,
                    flatId: flat.id,
                    fill: '#141c63',
                    opacity: 0,
                })
            })

            return this.coords = coords
        },
        setContainer() {
            this.container = document.querySelector('#interactive_section_floor')
        },

        setFlat(flatId) {
            this.QUERY_GET_FLAT({
                projectId: this.floor.project_id,
                floorId: this.floor.id,
                flatId: flatId,
            })
        },
        clearFlat() {
            this.SET_DEFAULT_FLAT()
        },
        onResize() {
            this.setContainer()
            this.makeCoords()
        },
        hoverCoordinate(coordinate, key) {
            this.updateTooltipPosition(key);
            this.selectedCoordinate = coordinate
            this.selectedFlat = this.floor.flats.filter((item) => {
                return item.id === coordinate.flatId
            })[0]
            if (!this.isMobile) {
                this.isTooltipVisible = true;
            }
            coordinate.opacity = 0.7
        },

        checkMobile() {
            this.isMobile = window.innerWidth <= 768;
        },
        toggleTooltip() {
            if (this.isMobile) {
                this.isTooltipVisible = !this.isTooltipVisible;
            }
        },
        closeTooltip() {
            document.getElementById('plan_section_tooltip').classList.remove('block-visible')
            this.isTooltipVisible = false
        },
        outCoordinate(coordinate, key) {
            if (!this.isMobile) {
                this.isTooltipVisible = false
            }
            this.selectedCoordinate = {}
            coordinate.opacity = 0
        },
        updateTooltipPosition(key) {
            if (!this.isMobile) {
                const targetRect = this.$refs[`floor${key}`][0].getBoundingClientRect();
                const blockPosition = this.container.getBoundingClientRect();
                this.tooltipStyle.top = `${targetRect.y - blockPosition.top}px`;
                this.tooltipStyle.left = `${15}px`;
            }
        },

        toFlat(flatId, key, force) {
            if (this.isMobile && !force) {
                this.updateTooltipPosition(key);
                this.isTooltipVisible = !this.isTooltipVisible;
            } else {
                this.$router.push({name: 'flat-page', params: {id: this.$route.params.id, floorId: this.$route.params.floorId, flatId: flatId}})
            }
        }

    }
}
</script>
<style scoped>
#interactive_section_floor {
    position: relative;
    height: 100%;
    width: 100%;
}

.image-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tooltip-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.plan_section-desktop {
    position: absolute;
    background-color: #ffffff;
    padding: 15px;
    z-index: 9999;
    width: 250px;
    border-radius: 15px;
    -webkit-box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
}

.image-flat {
    max-width: 300px;
    max-height: 450px;
}

@media (max-width: 767px) {
    .plan_section-desktop {
        position: fixed;
        left: 0;
        right: 15px;
        width: 100%;
        min-height: 200px;
        background-color: #f1f1f1;
        transition: bottom 1s ease;
        bottom: -1000px;
    }

    .block-visible {
        bottom: 0;
    }

    .btn-primary {
        width: 100%;
        border-radius: 15px;
        margin-top: 20px;
    }

    .plan_section-desktop__tooltip-content__title {
        font-size: 20px;
        font-weight: bold;
    }

    .plan_section-desktop__tooltip-content__square {
        font-size: 16px;
        color: #c1c1c1;
        margin-bottom: 15px;
    }

    .plan_section-desktop__tooltip-content__price {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.plan_section-desktop__tooltip-content__title {
    font-size: 20px;
    font-weight: bold;
}

.plan_section-desktop__tooltip-content__square {
    font-size: 13px;
    color: #c1c1c1;
    margin-bottom: 15px;
}

.plan_section-desktop__tooltip-content__price {
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.map_swg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute !important;
}

.floors-slider__plan-picture polyline {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
</style>
