<template>
    <div>
        <preloader/>
        <div class="theme-inner-banner"
             :style="{ backgroundImage: 'url(http://placehold.it/1600x400)' }">
            <div class="container">
                <div class="theme-inner-banner__content">
                    <div class="row theme-inner-banner__title">
                        <h2 class="theme-inner-banner__title-content">Проекты</h2>
                    </div>
                </div>
            </div>
        </div>
        <project-grid-module :projects="projects"/>
        <project-grid-map-module/>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import Preloader from "./system/Preloader";

const Project = createNamespacedHelpers('Project');
export default {
    data() {
        return {
            loader: true,
        }
    },
    mounted() {
        this.loader = false
        this.QUERY_GET_PROJECTS();
    },
    components: {
        Preloader
    },

    computed: {
        ...Project.mapState([
            'projects',
        ])
    },
    methods: {
        ...Project.mapActions([
            'QUERY_GET_PROJECTS'
        ])
    }
}
</script>
<style scoped>
.theme-inner-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    margin-bottom: 20px;
}

.theme-inner-banner__content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}


.theme-inner-banner__title {
    position: relative;
}

.section-row {
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.projects-list {
    position: relative;
}

.projects-list__title {
    max-width: 560px;
    margin-bottom: 100px;
}
.projects-list__title-description{
    margin-top: 25px;
    font-size: 16px;
}

.rounded-circle {
    display: block;
    text-align: center;
    padding-top: 70px;
    width: 200px !important;
    height: 200px !important;
}

.projects-list__square-count {
    position: absolute !important;
    top: 0 !important;
    font-size: 16px;
    width: 250px;
    right: 0 !important;
}

@media (max-width: 767px) {
    .section-row {
        display: block;
    }
}

.theme-inner-banner__info {
    margin-top: auto;
}

@media (max-width: 767px) {
    .theme-inner-banner__info-description {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .btn-primary {
        width: 100%;
        margin-bottom: 0;
    }
}

.theme-inner-banner__info-content {
    color: #fff;
}

.theme-inner-banner__info-description {
    color: #B44F50;
}

.theme-inner-banner__title-content {
    margin-top: 35px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.theme-inner-banner__address {
    margin-top: 20px;
}

.theme-inner-banner__address-full_address {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
</style>
