<template>
    <div>
        <preloader/>
        <div class="theme-inner-banner" :style="{ backgroundImage: 'url(' + project.information.header_image + ')' }">
            <div class="container">
                <div class="theme-inner-banner__content">
                    <div class="row theme-inner-banner__title">
                        <h2 class="theme-inner-banner__title-content">{{ project.title }}</h2>
                    </div>
                    <div class="row">
                        <div class="theme-inner-banner__address">
                            <div class="theme-inner-banner__address-full_address">{{ project.address }}</div>
                        </div>
                    </div>

                    <div class="section-row theme-inner-banner__info">
                        <div>
                            <h2 class="theme-inner-banner__info-content">Выбор квартир</h2>
                            <h3 class="theme-inner-banner__info-description">Район Красный камень</h3>
                        </div>
                        <div>
                            <input type="submit" id="submit" name="send" class="btn btn-primary"
                                   value="Оставить заявку"  @click="showModal">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row section-picker__top">
                <div class="col-md-12 tabs section-picker__tabs tabs">
                    <span @click="setTab('tile')" class="tab" :class="activeTab === 'tile' ? 'active': ''">Плитка</span>
                    <span @click="setTab('floors')" class="tab"
                          :class="activeTab === 'floors' ? 'active': ''">Этажи</span>
                    <span @click="setTab('filter')" class="tab"
                          :class="activeTab === 'filter' ? 'active': ''">Поиск</span>
                </div>
            </div>
        </div>
        <floors-flats-chess :floors="project.floors" v-if="activeTab === 'tile'"></floors-flats-chess>
        <floors-selector :floors="project.floors" v-if="activeTab === 'floors'"></floors-selector>
        <flat-component :project-id="project.id" v-if="activeTab === 'filter'"></flat-component>
        <simple-gallery :galleryID="'test'" :images="getAttachmentUrls" :description="project.description"/>
        <div class="container" v-if="!!project.presentation">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="border rounded position-relative p-4">
                        <h5 class="fw-semibold fs-19">Посмотрите презентацию комплекса</h5>
                        <p class="my-2 text-muted fs-17">в презентации вы найдёте более детальную информацию о проекте</p>
                        <a :href="project.presentation.url" class="btn btn-danger" target="blank">
                            Смотреть презентацию
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right icon-xs"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container house-picker">

            <h5 class="fw-semibold fs-19">Визуальный выбор</h5>
            <house-picker-component :floors="project.floors" :information="project.information"></house-picker-component>
        </div>
        <modal ref="modal"></modal>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";

import FloorsFlatsChess from "./flor/FloorsFlatsChess";
import FlatComponent from "./FlatComponent";
import FloorsSelector from "./flor/FloorsSelector";
import Modal from "./form/components/Modal";
import HousePickerComponent from "./house/HousePickerComponent";
import SimpleGallery from './pikcer/SimpleGallery';
import Preloader from "./system/Preloader";

const Project = createNamespacedHelpers('Project');
const Floor = createNamespacedHelpers('Floor');

export default {
    data() {
        return {
            loader: true,
            activeTab: 'tile',
            container: {},
            coords: [],
            houseCoords: [
                57.907476, 59.980416
            ],
        }
    },
    components: {
        SimpleGallery,
        HousePickerComponent,
        FloorsSelector,
        FlatComponent,
        FloorsFlatsChess,
        Modal,
        Preloader
    },
    async created() {
        this.loader = false

        window.addEventListener('resize', this.onResize)

        await this.QUERY_GET_PROJECT({
            id: this.$route.params.id
        })

        this.SET_DEFAULT_FLOOR()
    },
    computed: {
        ...Project.mapState([
            'project',
            'projectLoader'
        ]),
        ...Floor.mapState([
            'floor',
            'floorLoader'
        ]),
        getAttachmentUrls() {
            if (!this.project.attachments) {
                return []
            }
            return this.project.attachments.map(image => image.url)
        }
    },
    methods: {
        ...Project.mapActions([
            'QUERY_GET_PROJECT'
        ]),
        ...Project.mapMutations([
            'SET_DEFAULT_PROJECT'
        ]),
        ...Floor.mapActions([
            'QUERY_GET_FLOOR'
        ]),
        ...Floor.mapMutations([
            'SET_DEFAULT_FLOOR'
        ]),

        setTab(tab) {
            this.activeTab = tab
        },
        setFloor(floorId) {
            this.QUERY_GET_FLOOR({
                projectId: this.project.id,
                floorId: floorId
            })
        },
        showModal: function () {
            this.$refs.modal.show = true
        }
    }
}
</script>
<style scoped>
.theme-inner-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    margin-bottom: 20px;
}

.theme-inner-banner__content{
    min-height: 400px;
    display: flex;
    flex-direction: column;
}


.theme-inner-banner__title {
    position: relative;
}

.section-row {
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .section-row {
        display: block;
    }
}

.theme-inner-banner__info {
    margin-top: auto;
}

@media (max-width: 767px) {
    .theme-inner-banner__info-description {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {
    .btn-primary {
        width: 100%;
        margin-bottom: 0;
    }
}

.theme-inner-banner__info-content {
    color: #fff;
}

.theme-inner-banner__info-description {
    color: #B44F50;
}

.theme-inner-banner__title-content {
    margin-top: 35px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.theme-inner-banner__address {
    margin-top: 20px;
}

.theme-inner-banner__address-full_address {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.house-picker{
    margin-top: 40px;
}

.section-picker__top {
    margin-top: -40px;
    position: relative;
    margin-bottom: 40px;
    padding-top: 15px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}

.section-picker__top::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100vw;
    left: 50%;
    bottom: 0;
    margin-left: -50vw;
    background-color: #d1d3d4;
}

.tabs {
    position: relative;
    display: -moz-box;
    display: flex;
    align-self: stretch;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section-picker__tabs {
    min-height: 85px;
}

.tab:hover {
    cursor: pointer;
}

.tab {
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    padding: 10px 20px;
    min-height: 61px;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: gray;
}

.tab::after {
    position: absolute;
    content: "";
    height: 4px;
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    bottom: 0;
    left: 20px;
    background-color: #141c63;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.tab.active::after {
    opacity: 1;
    color: #141c63;
}


.btn-primary {
    background-color: #ffffff !important;
    padding: 18px 0;
    min-width: 180px;
    color: #141c63;
}

.btn-primary:hover {
    background-color: #e3e3e3 !important;
    color: #141c63;
}

</style>
