<template>
    <div>
        <Preloader />
        <div class="theme-inner-banner"
             :style="{ backgroundImage: 'url(images/inner-banner.jpg)' }">
            <div class="container">
                <div class="theme-inner-banner__content">
                    <div class="row theme-inner-banner__title">
                        <h6 class="theme-inner-banner__title-content">Воплощение вашей мечты в каждом
                            кирпиче</h6>
                    </div>

                    <div class="section-row theme-inner-banner__info">
                        <div>
                            <router-link to="flats" class="btn btn-primary">Выбрать квартиру</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pr-details-one mt-120 lg-mt-90 mb-170 lg-mb-100">
            <div class="container">
                <div class="row projects-list">
                    <div class="projects-list__title">
                        <h3>Выбрать недвижимость по душе</h3>
                        <p class="projects-list__title-description">Найдите свою идеальную квартиру с нами - где красота
                            встречается с комфортом!</p>
                    </div>
                    <div class="projects-list__square-count">
                        <b class="rounded-circle img-thumbnail">{{ getSquareMeters }} <br>квадратных метров счастья </b>
                    </div>
                </div>
            </div>
            <project-grid-module :projects="projects"/>
            <calculator-component></calculator-component>
            <project-grid-map-module/>
        </div>
    </div>
</template>

<script>
import CalculatorComponent from "./CalculatorComponent";

import {createNamespacedHelpers} from "vuex";
import Preloader from './system/Preloader.vue';

const Project = createNamespacedHelpers('Project');

export default {
    components: {
        CalculatorComponent,
        Preloader
    },
    data() {
        return {
            loader: true,
        }
    },
    mounted() {
        this.loader = false
        this.QUERY_GET_PROJECTS();
    },
    computed: {
        ...Project.mapState([
            'projects',
            'projectLoader'
        ]),
        getSquareMeters() {
            let sum = 0;
            let key = 'total_flats_square_meters';

            this.projects.forEach(item => {
                if (item[key]) {
                    sum += item[key];
                } else if (Array.isArray(item)) {
                    sum += this.getSquareMeters(item, key);
                }
            });

            return Math.round(sum)
        },
    },
    methods: {
        ...Project.mapActions([
            'QUERY_GET_PROJECTS'
        ])
    }
}
</script>
<style scoped>
.theme-inner-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 450px;
    margin-bottom: 20px;
}

.theme-inner-banner__content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}


.theme-inner-banner__title {
    position: relative;
}

.section-row {
    bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.projects-list {
    position: relative;
}

.projects-list__title {
    max-width: 560px;
    margin-bottom: 100px;
}

.projects-list__title-description {
    margin-top: 25px;
    font-size: 16px;
}

.rounded-circle {
    display: block;
    text-align: center;
    padding-top: 70px;
    width: 200px !important;
    height: 200px !important;
}

.projects-list__square-count {
    position: absolute !important;
    top: 0 !important;
    font-size: 16px;
    width: 250px;
    right: 0 !important;
}

@media (max-width: 767px) {
    .section-row {
        display: block;
    }
}

.theme-inner-banner__info {
    margin-top: auto;
}

h6{
    font-size: 28px !important;
}

@media (max-width: 767px) {
    .theme-inner-banner__info-description {
        margin-bottom: 32px;
    }
}


@media (max-width: 1024px) {

    .rounded-circle {
        display: none;
    }
}

@media (max-width: 767px) {
    .btn-primary {
        width: 100%;
        margin-bottom: 0;
    }
}

.theme-inner-banner__info-content {
    color: #fff;
}

.theme-inner-banner__info-description {
    color: #B44F50;
}

.theme-inner-banner__title-content {
    margin-top: 35px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
}

.theme-inner-banner__address {
    margin-top: 20px;
}

.theme-inner-banner__address-full_address {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
</style>
