<template>
    <div class="container">
        <preloader/>
        <div class="row justify-content-center"  v-if="posts.length === 0">
            <div class="col-lg-9 text-center">

                <h2 class="text-dark fw-light lh-base mt-5"><span class="fw-medium title">Скоро здесь появятся новости</span></h2>

                <p class="text-muted fs-16">И Вы сможете отслеживать последние события, связанные с проектами</p>
                <a href="tel:+79222202414" class="text-dark fs-16 info"> +7 (922) 220-24-14</a>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-lg-3 col-md-6">
                <div class="sidebar card shadow rounded-3 py-4 mt-4 ">
                    <div class="p-3 bg-light">
                        <h6 class="mb-0">тэги</h6>
                    </div>
                    <div class="p-3">
                        <div class="tagcloud py-4">
                            <a class="rounded d-inline-block fs-13 fw-medium mx-1 my-1 px-2 py-1 tag"
                               :class="{'tag-active': !!tag.active}"
                               :id="`tag-${tag.value}`"
                               v-for="tag in currentTags"
                               @click.prevent="selectTag(tag.value)"
                            >
                                {{ tag.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6" v-if="!loader">
                <article class="post position-relative card p-3 mb-3 shadow rounded-3 py-4 mt-4 " v-for="post in posts" :key="post.id">
                    <div
                        class="date-box rounded-3 shadow text-center bg-light position-absolute top-0 end-0 p-2 m-3">
                        <h6 class="fs-14 fw-medium mb-0">{{ post.created_at }}</h6>
                    </div>
                    <div class="post-preview mb-4" v-if="post.attachment.length > 0">
                        <img :src="post.attachment[0].url" alt="" class="img-fluid rounded-3">
                    </div>
                    <div class="post">
                        <div class="d-flex align-items-center gap-3" v-if="post.id === 9999999">
                            <p class="fs-15 text-muted mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-eye icon-xs me-1">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                                <a href="javascript:void(0)" class="text-muted">{{ getRandomViews(100) }}</a></p>
                        </div>
                        <h6 class="fs-22 fw-semibold my-3 post-title text-dark">{{ post.title }}</h6>
                        <p class="text-muted" v-html="post.description"></p>
                        <a  v-if="post.id === 9999999" href="javascript:void(0)" class="fw-medium text-dark">Читать далее
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-arrow-right icon-xs icon">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import CalculatorComponent from "./CalculatorComponent";
import Preloader from "./system/Preloader";
import Alert from "./system/Alert";

const Posts = createNamespacedHelpers('Posts');

export default {
    components: {
        CalculatorComponent,
        Preloader, Alert
    },
    data() {
        return {
            loader: true,
        }
    },
    async created() {
        this.loader = false
        await this.QUERY_GET_POSTS({page: 1});
        await this.QUERY_GET_FILTERS();
    },
    computed: {
        ...Posts.mapState([
            'posts',
            'tags',
            'pagination'
        ]),
        currentTags() {
            return this.tags.map(tag => {
                let selectTags = this.$route.query.tags;

                if (selectTags) {
                    selectTags = selectTags.split(',');
                    if (selectTags.includes(String(tag.value))) {
                        tag.active = true;
                    }
                }
                return tag;
            })
        }
    },
    methods: {
        ...Posts.mapActions([
            'QUERY_GET_POSTS',
            'QUERY_GET_FILTERS'
        ]),
        getRandomViews(max) {
            return Math.floor(Math.random() * max)
        },
        selectTag(tagId) {
            let tagElement = document.querySelector(`#tag-${tagId}`);

            if (tagElement.classList.contains('tag-active')) {
                tagElement.classList.remove('tag-active');
            } else {
                tagElement.classList.add('tag-active');
            }

            this.setParams('tags', String(tagId))

            this.QUERY_GET_POSTS();
        },
        setParams(name, value, isChecked = true) {
            let values = this.$route.query[name];

            if (!value && values === undefined) {
                return;
            }

            if (values && isChecked) {
                values = values.split(',');

                if (values.includes(value)) {
                    values.splice(values.indexOf(value), 1);
                } else {
                    values.push(value);
                }

                values = values.join(',');
            } else {
                values = value;
            }

            if (values === '' || !value) {
                const currentQuery = {...this.$route.query};

                delete currentQuery[name];

                this.$router.replace({query: currentQuery});
            } else {
                let queryParams = {...this.$route.query, [name]: values, page: 1}
                const route = this.$router.resolve({path: this.$route.path, query: queryParams});

                if (route.href.split('?')[1] !== window.location.search.replace('?', '')) {
                    this.$router.push({path: this.$route.path, query: queryParams})
                }
            }
        }
    },
}
</script>
<style scoped>
    .img-fluid{
        max-height: 400px;
        width: 100%;
    }
</style>
