<template>
    <div class="container wishlist">
        <preloader />
        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12 footer-block">
                <flat-list :flats="getFlats" :is-wishlist="true"></flat-list>
            </div>
        </div>
    </div>
</template>

<script>

import {createNamespacedHelpers} from "vuex";
import FlatList from "./flat/FlatList";
import Preloader from "./system/Preloader";
const Wishlist = createNamespacedHelpers('Wishlist');

export default {
    components: {FlatList, Preloader},
    data() {
        return {
            loader: true,
        }
    },
    mounted() {
        this.loader = false
    },
    computed: {
        ...Wishlist.mapState([
            'wishlist',
        ]),
        getFlats() {
            return this.wishlist.map((item) => {
                return item.flat
            })
        }
    },
}
</script>
<style>
    .wishlist{
        min-height: 20vh;
    }
</style>

