<template>
    <div class="container">
        <div class="row">
            <div class="floors-slider">
                <div class="floors-slider__list">
                    <div class="floors-slider__floors-wrapper ApartmentsFloorsContainer_floors-wrapper__3pJSz">
                        <div class="floors-slider__floor-item filter-checkbox" v-for="floor in getFloors"
                             v-if="floor.flats.length > 0"><span
                            :class="{'active': floor.number === selectedFloor.number}"
                            class="filter-checkbox__item" @click="selectFloor(floor)">{{ floor.number }}</span></div>
                    </div>
                </div>
                <div class="floors-slider__plans-wrapper">
                    <h3 class="intro-title text-center p-3">этаж {{selectedFloor.number}}</h3>
                    <div class="floors-slider__plan-item">
                        <floor-picker :floor="selectedFloor"></floor-picker>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FloorPicker from "../pikcer/FloorPicker";

export default {
    name: "FloorsSelector",
    components: {FloorPicker},
    props: {
        floors: {
            type: Array,
            required: true
        },
    },
    data() {
        return {
            selectedFloor: {}
        }
    },
    watch: {
        floors: {
            handler(val) {
                this.selectedFloor = val.filter(item => item.flats.length > 0).reduce(function (p, v) {
                    return (p.number < v.number ? p : v);
                })
            },
            deep: true,
            immediate: true
        }
    },
    computed: {
        getFloors() {
            return this.floors.reverse()
        }
    },
    methods: {
        selectFloor(floor) {
            floor.active = true
            this.selectedFloor = floor
        }
    }
}
</script>

<style scoped>
.floors-slider {
    position: relative;
    display: -moz-box;
    display: flex;
    min-height: 904px;
    background-color: #fff;
}

@media (max-width: 1023px) {
    .floors-slider {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        min-height: 0;
        padding: 20px 32px;
    }
}

.floors-slider__list {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 24px;
}

@media (max-width: 1023px) {
    .floors-slider__list {
        overflow-x: auto !important;
        overflow-y: hidden !important;
        -moz-box-ordinal-group: 2;
        order: 1;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        flex-direction: row;
        margin-left: -32px;
        margin-right: -32px;
        padding: 32px 0 0;
    }
}

@media (max-width: 1023px) {
    .floors-slider__list {
        margin-left: -16px;
        margin-right: -16px;
    }
}

.floors-slider__floors-wrapper.floors-slider__floors-wrapper {
    -moz-box-align: center;
    align-items: center;
    height: auto;
    margin-bottom: -8px;
}

.ApartmentsFloorsContainer_floors-wrapper__3pJSz {
    overflow-x: auto;
    overflow-y: hidden;
}

.floors-slider__floors-wrapper {
    -moz-box-orient: vertical !important;
    -moz-box-direction: reverse !important;
    flex-direction: column-reverse !important;
}

@media (max-width: 1023px) {
    .floors-slider__floors-wrapper {
        margin-top: 150px;
        -moz-box-orient: horizontal !important;
        -moz-box-direction: normal !important;
        flex-direction: row !important;
    }
}

.filter-checkbox {
    width: auto !important;
    min-width: 40px;
}

.floors-slider__floor-item {
    margin-bottom: 8px;
}

@media (max-width: 1023px) {
    .floors-slider__floor-item {
        margin-right: 8px;
    }
}

.floors-slider__floors-wrapper {
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    display: -moz-box;
    display: flex;
}


.filter-checkbox__item {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: Mikro, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    text-transform: none;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #141c63;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
}

.filter-checkbox__item:hover {
    opacity: 0.7;
}

.active {
    opacity: 0.7;
}

</style>
