<template>
    <div class="container">
        <div class="row">
            <div class="section-picker__content">
                <div class="chess-tiles">
                    <div class="chess-tiles__floors">
                        <div class="chess-tiles__floor filter-checkbox" v-for="floor in getFloors"
                             v-if="floor.flats.length > 0"><span
                            class="filter-checkbox__item">{{ floor.number }}</span></div>
                    </div>
                    <div class="chess-tiles__wrapper">
                        <div class="chess-tiles__gradient"></div>
                        <div
                            class="chess-tiles__content indiana-scroll-container indiana-scroll-container--hide-scrollbars scrollable-container no-select"
                            ref="scrollArea"
                            @mousedown="onMouseDown"
                            @mouseup="onMouseUp"
                            @mousemove="onMouseMove"
                            @mouseleave="onMouseUp"
                        >
                            <div class="table-tiles">
                                <div class="table-tiles__row" v-for="floor in getFloors" v-if="floor.flats.length > 0">
                                    <div class="table-tiles__cell"
                                         v-for="flat in floor.flats">
                                        <div class="card-chess card-chess--sold"
                                             :class="{'disabled': flat.status === 2}"
                                             @click="flat.status !== 2 ? toFlat(flat.id, floor.id, flat.project_id) : ''">
                                            <div class="card-chess__header">
                                                <div class="card-chess__rooms"><span
                                                    class="card-chess__rooms-text">{{ flat.number_of_rooms }}к</span>
                                                </div>
                                                <div class="card-chess__number"><span
                                                    class="card-chess__number-sign">№</span><span
                                                    class="card-chess__number-value">{{ flat.number }}</span></div>
                                            </div>
                                            <div class="card-chess__area">{{ flat.square_meters }} м²</div>
                                            <div class="card-chess__status">{{ flat.status_name }}</div>

                                            <svg v-if="flat.status_name === 'Бронь'" class="card-chess__status-icon"
                                                 width="24" height="24"
                                                 aria-hidden="true"
                                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M7 7v3H4v4.5c0 1.992 1 3.591 2.5 5C8 20.909 9.878 22 12 22s4-1.091 5.5-2.5 2.5-3.008 2.5-5V10h-3V7c0-3-3-5-5-5-3 0-5 2.5-5 5zm5-3.5c2.5 0 3.5 2 3.5 3.5v3h-7V7c0-1.5 1-3.5 3.5-3.5zm-1 12.023V18h2v-2.477c.388-.202.66-.519.836-.901.176-.383.211-.809.1-1.212a1.874 1.874 0 00-.71-1.016A2.085 2.085 0 0012 12c-.444 0-.875.139-1.225.394-.35.255-.601.612-.712 1.016-.11.403-.075.83.1 1.212.176.382.449.7.837.9z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FloorsFlatsChess",
    data() {
        return {
            isScrolling: false,
            startX: 0,
        };
    },
    props: {
        floors: {
            type: Array,
            required: true
        }
    },
    computed: {
        getFloors() {
            return this.floors
        }
    },
    methods: {
        onMouseDown(event) {
            this.$refs.scrollArea.style.cursor = 'grabbing'
            this.isScrolling = true;
            this.startX = event.pageX;
        },
        onMouseUp() {
            this.$refs.scrollArea.style.cursor = 'default';
            this.isScrolling = false;
        },
        onMouseMove(event) {
            if (this.isScrolling) {
                const x = event.pageX;
                const diff = this.startX - x;
                this.$refs.scrollArea.scrollLeft += diff;
                this.startX = x;
            }
        },
        toFlat(id, floorId, projectId) {
            this.$router.push({name: 'flat-page', params: {id: projectId, floorId: floorId, flatId: id}})
        }
    }
}
</script>

<style scoped>
.section-picker__content {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
}

.scrollable-container {
     overflow-x: auto;
     white-space: nowrap;
 }

.chess-tiles {
    display: flex;
}
.card-chess:hover {
    cursor: pointer;
    opacity: 0.7;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.chess-tiles__floors {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    margin-right: 20px;
}

.chess-tiles__floor, .chess-tiles__floor.filter-checkbox {
    -moz-box-flex: 1;
    flex: 1;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.filter-checkbox__item {
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: Mikro, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    text-transform: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #141c63;
    cursor: pointer;
    -webkit-transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out;
}

.chess-tiles__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chess-tiles__content {
    display: -moz-box;
    display: flex;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
}

.table-tiles__row {
    display: -moz-box;
    display: flex;
    min-height: 110px;
}

.table-tiles__cell {
    padding: 4px;
}

.card-chess {
    position: relative;
    width: 120px;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 2px #141c63;
    box-shadow: inset 0 0 0 2px #141c63;
}

.card-chess__header {
    -moz-box-pack: justify;
    justify-content: space-between;
}

.card-chess__header, .card-chess__rooms {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.card-chess__rooms {
    -moz-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 172%;
    letter-spacing: -.1px;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #141c63;
    background-color: #dfefec;
    border-radius: 50%;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.card-chess__number {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-right: 4px;
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    font-family: Inter, Helvetica, sans-serif;
    line-height: 135%;
    color: gray;
}

.card-chess__number {
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    font-family: Inter, Helvetica, sans-serif;
    line-height: 135%;
    color: gray;
}

.card-chess--sold .card-chess__area {
    font-size: 14px;
    line-height: 172%;
    letter-spacing: -.1px;
    font-family: Inter, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: gray;
}

.card-chess .card-chess__status {
    font-weight: 500;
    letter-spacing: 0;
    line-height: 135%;
    color: gray;
}

.card-chess .card-chess__status-icon {
    position: absolute;
    right: 8px;
    bottom: 25px;
    width: 20px;
    height: 20px;
    color: #d1d3d4;
}

</style>
