<template>
    <div class="floors-slider__plan-picture">
        <div id="interactive_section">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="map_swg">
                <g v-for="coordinate in coords" style="cursor:pointer;">
                    <polyline :points="coordinate.points"
                              :fill="coordinate.fill"
                              :opacity="coordinate.opacity"
                              @mouseover="hoverCoordinate(coordinate)"
                              @mouseout="outCoordinate(coordinate)"
                              @click="toFlat(coordinate.flatId, coordinate.floorId, coordinate.projectId)"
                    ></polyline>
                </g>
            </svg>
            <img :src="floor.image_floor">
        </div>
    </div>
</template>

<script>
export default {
    name: "FloorPicker",
    props: {
        floor: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            coords: [],
            selectedCoordinate: {},
            selectedFlat: {},
        }
    },
    created() {
        this.coords = [];

        setTimeout(() => {
            this.setContainer()
            this.makeCoords()
        }, 100)
    },
    watch: {
        floor: {
            handler() {
                this.coords = [];

                setTimeout(() => {
                    this.setContainer()
                    this.makeCoords()
                }, 100)
            }
        }
    },
    methods: {
        makeCoords() {
            let coords = []

            if (!this.floor.flats || this.floor.flats.length === 0 || this.container.offsetHeight === 0) {
                return []
            }

            this.floor.flats.forEach((flat) => {
                let points = '';

                JSON.parse(flat.coords).forEach((coordinate) => {
                    points += ((coordinate.x * this.container.offsetWidth) / 100) + ', ' + ((coordinate.y * this.container.offsetHeight) / 100) + ' ';
                })

                coords.push({
                    points: points,
                    flatId: flat.id,
                    projectId: flat.project_id,
                    floorId: flat.floor.id,
                    fill: '#141c63',
                    opacity: 0,
                })
            })

            return this.coords = coords
        },
        setContainer() {
            this.container = document.querySelector('#interactive_section')
        },
        hoverCoordinate(coordinate) {
            this.selectedCoordinate = coordinate
            coordinate.opacity = 0.7
        },
        outCoordinate(coordinate) {
            this.selectedCoordinate = {}
            coordinate.opacity = 0
        },
        toFlat(id, floorId, projectId) {
            this.$router.push({name: 'flat-page', params: {id: projectId, floorId: floorId, flatId: id}})
        }
    }
}
</script>

<style scoped>
.floors-slider__plan-picture {
    padding: 10px;
    position: relative;
}

.floors-slider__plan-picture {
    left: 22px;
}

@media (max-width: 1023px) {
    .floors-slider__plan-picture {
        left: 0px;
    }
}

#interactive_section {
    position: relative;
    height: 100%;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

button, fieldset, img {
    border: none;
}

.floors-slider__plan-picture polyline {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

img, svg, video {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.map_swg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute !important;
}
</style>
