<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mt-4">
                <gallery :images="images" :index="index" @close="index = null"></gallery>
                <carousel
                    :scrollPerPage="true"
                    :perPageCustom="[[100, 1], [1024, 1]]"
                    :paginationEnabled="false"
                    :autoplayTimeout="3000"
                    :autoplay="true"
                    :autoplayHoverPause="true"
                    :navigationEnabled="false"
                >
                    <slide v-for="(image, imageIndex) in images"  :key="imageIndex">
                        <img style="width:100%; min-height:420px" :src="image" @click="index = imageIndex">
                    </slide>
                </carousel>
            </div>
            <div class="col-lg-6 col-md-12 mt-4">
                <h2>О проекте</h2>
                <div v-html="description"></div>
            </div>
        </div>
    </div>
</template>

<script>

import VueGallery from 'vue-gallery';
import {Slide, Carousel} from 'vue-carousel';

export default {
    name: 'SimpleGallery',
    props: {
        images: Array,
        description: String
    },
    components: {
        'gallery': VueGallery,
        Carousel,
        Slide
    },
    data() {
        return {
            index: null
        };
    },
    methods: {},
};
</script>
<style>
</style>
