<template>
    <div id="interactive_section_project">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="map_swg">
            <g v-for="(coordinate, index) in coords" style="cursor:pointer;">
                <polyline
                    :ref="'floor' + index"
                    :points="coordinate.points"
                    :fill="coordinate.fill"
                    :opacity="coordinate.opacity"
                    @mouseover="hoverCoordinate(coordinate, index)"
                    @mouseout="outCoordinate(coordinate, index)"
                    @click="toFloor(coordinate.floorId, index, false)"
                ></polyline>
            </g>
        </svg>
        <img :src="information.project_image" alt="изображение проекта">
        <transition name="slide">
            <div v-if="isTooltipVisible" class="plan_section-desktop" :class="{ 'block-visible': isTooltipVisible }"
                 :style="tooltipStyle" id="plan_section_tooltip">
                <div class="plan_section-desktop__tooltip">
                    <div class="tooltip-close" @click="closeTooltip" v-if="isMobile">&#10006;</div>
                    <div class="plan_section-desktop__tooltip-content">
                        <div class="plan_section-desktop__tooltip-content__title">
                            {{ selectedFloor.number }} этаж
                        </div>
                        <div class="plan_section-desktop__tooltip-content__all-flats">
                            {{ selectedFloor.flats.length }} квартир
                        </div>
                        <div class="plan_section-desktop__tooltip-content__free-flats">
                            Свободных - {{ getFreeFlats.length }} квартир
                        </div>
                        <img :src="selectedFloor.image_floor" alt="изображение проекта" v-if="isMobile">
                        <div class="col-12 col-sm-12 col-lg-12">
                            <input type="submit" id="submit" name="send" class="btn btn-primary" v-if="isMobile"
                                   value="Перейти" @click="toFloor(selectedFloor.id, 0,true)">
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>

import Teleport from 'vue2-teleport';

export default {
    name: 'HousePickerComponent',
    components: {
        Teleport
    },
    data() {
        return {
            coords: [],
            selectedCoordinate: {},
            tooltipStyle: {},
            selectedFloor: {},
            isTooltipVisible: false,
            isMobile: false,
        }
    },
    props: {
        floors: {
            type: Array,
            required: true
        },
        information: {
            type: Object,
            required: true
        }
    },
    created() {
        this.coords = [];
        this.checkWindowSize();
        window.addEventListener('resize', this.checkWindowSize);
        window.addEventListener('resize', this.onResize)
        setTimeout(() => {
            this.setContainer()
            this.makeCoords()
        }, 100)
    },
    watch: {
        floors: {
            handler() {
                this.coords = [];

                setTimeout(() => {
                    this.setContainer()
                    this.makeCoords()
                }, 100)
            }
        }
    },
    computed: {
        getFreeFlats() {
            return this.selectedFloor.flats.filter(flat => flat.status_name === 'В продаже')
        }
    },
    methods: {
        updateTooltipPosition(key) {
            if (!this.isMobile) {
                const targetRect = this.$refs[`floor${key}`][0].getBoundingClientRect();
                const blockPosition = this.container.getBoundingClientRect();
                this.tooltipStyle = {};
                this.tooltipStyle.top = `${targetRect.y - blockPosition.top}px`;
                this.tooltipStyle.left = `${15}px`;
            }
        },
        checkMobile() {
            this.isMobile = window.innerWidth <= 768;
        },
        toggleTooltip() {
            if (this.isMobile) {
                this.isTooltipVisible = !this.isTooltipVisible;
            }
        },
        closeTooltip() {
            document.getElementById('plan_section_tooltip').classList.remove('block-visible')
            this.isTooltipVisible = false
        },
        checkWindowSize() {
            const width = window.innerWidth ||
                document.documentElement.clientWidth ||
                document.body.clientWidth;
            this.isMobile = width <= 768;
            this.isTooltipVisible = false;
        },
        makeCoords() {
            let coords = []

            if (!this.floors || this.floors.length === 0 || !this.container || this.container.offsetHeight === 0) {
                return []
            }
            this.floors.forEach((floor) => {
                let points = '';

                JSON.parse(floor.coords).forEach((coordinate) => {
                    points += ((coordinate.x * this.container.offsetWidth) / 100) + ', ' + ((coordinate.y * this.container.offsetHeight) / 100) + ' ';
                })

                coords.push({
                    points: points,
                    floorId: floor.id,
                    fill: '#141c63',
                    opacity: 0,
                })
            })

            return this.coords = coords
        },

        onResize() {
            this.setContainer()
            this.makeCoords()
        },
        setContainer() {
            this.container = document.querySelector('#interactive_section_project')
        },
        hoverCoordinate(coordinate, key) {
            this.updateTooltipPosition(key);
            this.selectedCoordinate = coordinate
            this.selectedFloor = this.floors.filter((item) => {
                return item.id === coordinate.floorId
            })[0]

            if (!this.isMobile) {
                this.isTooltipVisible = true;
            }

            coordinate.opacity = 0.7
        },
        outCoordinate(coordinate, key) {
            if (!this.isMobile) {
                this.isTooltipVisible = false
            }
            this.selectedCoordinate = {}
            coordinate.opacity = 0
        },

        toFloor(floorId, key, force) {
            if (this.isMobile && !force) {
                this.updateTooltipPosition(key);
                this.isTooltipVisible = !this.isTooltipVisible;
            } else {
                this.$router.push({name: 'floor-page', params: {id: this.$route.params.id, floorId: floorId}})
            }
        }
    }

}
</script>
<style scoped>
#interactive_section_project {
    position: relative;
    height: 100%;
    width: 100%;
}

.plan_section-desktop {
    position: absolute;
    background-color: #ffffff;
    padding: 15px;
    z-index: 9999;
    width: 250px;
    border-radius: 15px;
    -webkit-box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
    box-shadow: -6px -3px 24px 0px rgba(34, 60, 80, 0.2);
}

.tooltip-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 767px) {
    .plan_section-desktop {
        position: fixed;
        left: 0;
        right: 15px;
        width: 100%;
        min-height: 200px;
        background-color: #f1f1f1;
        transition: bottom 1s ease;
        bottom: -1000px;
    }

    .block-visible {
        bottom: 0;
    }

    .btn-primary {
        width: 100%;
        border-radius: 15px;
        margin-top: 20px;
    }

    .plan_section-desktop__tooltip-content__title {
        font-size: 20px;
        font-weight: bold;
    }

    .plan_section-desktop__tooltip-content__all-flats {
        font-size: 16px;
        color: #c1c1c1;
        margin-bottom: 15px;
    }

    .plan_section-desktop__tooltip-content__free-flats {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.plan_section-desktop__tooltip-content__title {
    font-size: 20px;
    font-weight: bold;
}

.plan_section-desktop__tooltip-content__all-flats {
    font-size: 13px;
    color: #c1c1c1;
    margin-bottom: 15px;
}

.plan_section-desktop__tooltip-content__free-flats {
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
    border-radius: 15px;
}

.map_swg {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute !important;
}

.floors-slider__plan-picture polyline {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}
</style>

